[2016-10-03 18:18] jhawthorn commented on #1491
We should absolutely do this in our `test_app` task.

I may have broken this in bc8efcb5f66057e0a6e91abaf801528c556d28d0, but reverting that doesn't fix the issue. Rails 5's environment tracking seems to throw a wrench into the works also.

[2016-10-03 21:01] jhawthorn commented on #1494
Good catch @acreilly. I've opened #1499 to address this.

[2016-10-04 05:26] ajkamel opened #1501 "Unpermited Params in Stock Item Controller"
When using the latest version of Solidus I've had issues trying to adjust the inventory getting unpermitted params.

I've put together a hack that allows me to remove the params so that we can update the inventory accurately.

`%w[force id stock_location_id created_at updated_at deleted_at].each{|v| params.require(:stock_item).delete(v)}`

If this is confirmed I can put together a PR to address th

[2016-10-04 08:13] mamhoff commented on #1399
Hey @kennyadsl - I looked through the code and have issues with it :) - By default, a user should only be shown products and variants that have a price in the current currency (that's why the `Variant.with_prices` [scope] exists). (https://github.com/solidusio/solidus/blob/master/core/app/models/spree/variant.rb#L109-L112]). The default product searcher, which is used in the standard frontend prod

[2016-10-04 08:18] kennyadsl commented on #1399
Hey @mamhoff , thanks for reading my commit.

I think that check is done [here](https://github.com/nebulab/solidus/commit/48dc2f0b12a991b485a7a17033703a919271a3a2#diff-d4464f8dddd86dd147739f1fcf6d589bR186) and tested [here](https://github.com/nebulab/solidus/commit/48dc2f0b12a991b485a7a17033703a919271a3a2#diff-e2c80773d9997dad992b4f6754a00847R146). Anyway there's still something to fix there, prob

[2016-10-04 12:45] mamhoff commented on #1399
Hey @kennyadsl I left some comments on the commit itself; I think we can simplify things a little bit more as some of the stuff in there has been deprecated for a while already.

[2016-10-04 12:50] kennyadsl commented on #1399
@mamhoff thanks, I'll do changes in the direction proposed and go ahead with a PR asap.

[2016-10-04 21:43] #1491 closed

[2016-10-04 21:44] #1494 closed

[2016-10-05 07:36] tudorpavel opened #1502 "Hidden seed data in migrations"
I was using `rake db:reset` to reset my database when I realized some default Solidus seed data is missing. After searching through the code, I noticed that the Solidus migrations contain some hidden seed data such as [the default StockLocation](https://github.com/solidusio/solidus/blob/master/core/db/migrate/20130213191427_create_default_stock.rb#L17).

The problem is that when running `rake db:r

[2016-10-06 15:10] mtylty commented on #1473
I'm working on this and probably almost done...

I have one doubt though... Should we keep the `user_total_amount` column on the `spree_store_credit_events` table or can we just rename the column?

I'm asking because I just can't figure out why something like that should be saved in the `Spree::StoreCreditEvent` model even though I'm sure it must have some kind of logic behind it...

[2016-10-06 15:13] gmacdougall commented on #1473
I would probably keep the column and add a new column to track the amount remaining amount on this particular store credit. That way we don't break backwards compatibility or people who rely upon it in their application.

We're looking at doing some work to deprecate store credit events with a proper accounting ledger which will deprecate StoreCreditEvents to be removed in a future version of Soli

[2016-10-06 15:19] mtylty commented on #1473
Do you have some work planned to deprecate StoreCreditEvents, refactor the code and then close this bug?

Because if you think it's not worth it to fix this bug before the refactor I'd better stop and work on some other issue 😄.

[2016-10-07 16:06] kennyadsl commented on #1399
@mamhoff please check progresses on #1507

[2016-10-08 15:17] jasonfb commented on #681
@davidpatters0n --- You should not have an _existing_ User model, but solidus_auth_devise will create one for your, it is called ```Spree::User``` (or ```spree_users``` in your database). That's your User model.

Although you can implement solidus with a different user model, I believe you are correct in that if you use solidus_auth_devise you should be using the standard Spree::User object as you

[2016-10-09 03:29] useiichi opened #1511 "SolidusI18n error"
I see forrowing error at  Admin-Settings.
when I remove a line "gem 'solidus_i18n'" from Gemfile, I don't see this error.

NameError in Spree::Admin::GeneralSettings#edit

Showing /var/www/solidus/backend/app/views/spree/admin/general_settings/edit.html.erb where line #71 raised:

uninitialized constant SolidusI18n::LocaleHelper::Locale

Extracted source (around line #18):
16    # this project. so

[2016-10-09 23:41] davidpatters0n commented on #681
Thanks for the feedback @jasonfb

[2016-10-10 15:43] mtylty commented on #1511
@useiichi I think this is related to the [solidus_i18n](https://github.com/solidusio-contrib/solidus_i18n) extension, you'd better open an issue there.

That said, I tried adding the solidus_i18n extension to the sandbox app but I was unable to reproduce this bug.

[2016-10-10 16:38] DanielePalombo commented on #1475
My and @mtylty started to investigate this issue and we found these related issues: #1254, #1107, https://github.com/spree/spree/issues/6229

[2016-10-10 17:01] jrochkind commented on #1254
My thought has been that it's crazy spree/solidus lets you modify a `complete` order at all. I think the case:

Probably not even to be possible. Instead, an adjustment cancelling out that item would be the way to go. But now I realize that leads to it's own problems with taxes, calculated promotions, etc.

So I don't really know.

[2016-10-11 08:01] kennyadsl opened #1515 "Order behavior when currency is changed."
What happens when the order currency is changed? Is this behavior somehow supported?

I think we should recalculate prices for all line items and adjustments with the new currency or delete the whole order and create a new one. Both options could cause issues, especially if the user is into an advanced checkout step. Do you have any thought about this?

[2016-10-11 11:54] gmacdougall commented on #1515
I don't think that orders should be allowed to change currency. There's too much complication around it. If someone needs that functionality in their application, they can implement it on their own, but it's complicated enough that we should be very careful about supporting the functionality.

Some items may not have prices or availability in other currencies, migrating promotions, taxes, etc. wou

[2016-10-13 00:05] felixyz commented on #674
@chris-barklem Thank you so much! If you have the time, I'd really like to hear how you reached that conclusion and whether you (or anyone else) have any explanation for *why* this was necessary.

[2016-10-13 02:49] flyfy1 opened #1518 "Loading wrapper upon XHR request"
Currently, in `solidus_backend/app/assets/javascripts/spree/backend/progress.coffee`, it listens to ajax request globally. Whenever there's a AJAX request, the progress bar would show, something like this:

![image](https://cloud.githubusercontent.com/assets/1553760/19334954/3f1fe952-9132-11e6-9fce-8f8513d1e02e.png)

and this progress bar as a overlay would stop any activities on the backend inter

[2016-10-14 22:41] #1161 closed

[2016-10-14 22:42] #1076 closed

[2016-10-15 00:22] skukx opened #1525 "latest_payment not correct in view"
https://github.com/solidusio/solidus/blob/v2.0/backend/app/views/spree/admin/orders/cart.html.erb#L20

Because payments has a default scope of created_at the method order is ignored. Line 20 will need to be changed from

[code]

To

[code]

[2016-10-15 11:25] useiichi commented on #1511
thanks for.
I'm going to open an issue in solidus_i18n.

[2016-10-15 15:58] #1511 closed

[2016-10-17 07:04] bishisht opened #1527 "How to translate solidus in Nepali?"
I would like to use spree in a village ecommerce system and for that I have to translate spree completely in Nepali. Please suggest some guides/links. Any ideas are welcome.

[2016-10-17 08:01] tvdeyen commented on #1527
Hey. Thanks for your interest in Solidus.

The Solidus I18n project holds all translations. You can find it here https://github.com/solidusio-contrib/solidus_i18n

It will be helpful to also read the Rails I18n guides (http://guides.rubyonrails.org/i18n.html)

To get started it will help you to copy the English locale file to a Nepalis locale file and start translating in your local app. Then cont

[2016-10-17 08:01] #1527 closed

[2016-10-17 22:10] #1481 closed

[2016-10-18 11:22] chrisradford opened #1530 "Creating a new Spree::Price in admin requires a Country"
# Issue

When creating a new price through the admin interface (Products > Prices > New Price), and setting both the product variant, and currency, Solidus gives a validation error on Country.

### Expected behaviour

It is expected that creating a price without a currency is possible in order to add prices for new currencies to existing variants.

### Possible Cause

In Spree::Price there is a va

[2016-10-18 11:35] mamhoff commented on #1530
Hey @chrisradford , are you on Solidus master? It should be fixed there, via this PR https://github.com/solidusio/solidus/pull/1468 .

[2016-10-18 12:01] chrisradford commented on #1530
We're tracking slightly behind master, but we can pull that into our branch. Thanks!

[2016-10-18 12:01] #1530 closed

[2016-10-18 20:06] dgra opened #1531 "Order total not taking promotion adjustments into account after applying a promo code."
@jordan-brough I posted in the support channel in slack and was told to mention you on an issue with the included information.

[2016-10-18 23:16] gevann opened #1532 "RFC: Split Spree::PaymentMethod.display_on to two boolean columns"
RFC on changing the `display_on` column of Spree::PaymentMethod to two boolean columns `available_to_users` and `available_to_admin`.

[2016-10-19 02:56] flyfy1 opened #1533 "Price bug when VAT set on the product"
From the vanilla solidus, with only these lines of change in `initializers/spree.rb`:

[code]

Tax setup:
![image](https://cloud.githubusercontent.com/assets/1553760/19504084/4a628d4e-95ea-11e6-8b83-5b798678c49d.png)

Product Setup:
![image](https://cloud.githubusercontent.com/assets/1553760/19504094/57f12254-95ea-11e6-8c5e-1135eabfb109.png)

Product Page:
![image](https://cloud.githubusercontent.

[2016-10-19 04:32] flyfy1 commented on #1533
When I was digging into the issue, I think the potential cause is a bit complicated.. let me try to describe them below:

- When building the variants with `rebuild VAT price` set, and my product is with tax included in price, a price with default country as `nil` would be created. This price is the set-price, minus the computed tax
- When adding product into cart, a line item is created. This lin

[2016-10-19 10:08] flyfy1 commented on #1533
It seems to solve the issue after setting the `cart_tax_country_iso` upon store via:

[code]

And it solved the issue.

However, there's another issue:

let's say now we're selling to 2 countries: China & Singapore, with tax rate 17% for China, and 7% for Singapore:

![image](https://cloud.githubusercontent.com/assets/1553760/19514601/ba32c602-9626-11e6-80a3-cd72b0f7a29c.png)

With the default tax

[2016-10-19 10:11] mamhoff commented on #1533
That scenario is why the `cart_tax_country_iso` setting is not a global setting, but one works by store. Can you have a separate store (URL) for China? Or can you somehow find out in the frontend where the customer is from?

[2016-10-19 10:12] flyfy1 commented on #1533
@mamhoff ahh it's not a issue for me.. (we're only selling to 1 country currently). I was just trying to  give a bad input..

[2016-10-19 10:13] mamhoff commented on #1533
OK, closing this as resolved then. :)

[2016-10-19 10:13] #1533 closed

[2016-10-19 15:52] jhawthorn opened #1539 "Remove old deprecations for Solidus 2.1"
All our migrations warned that they would be removed in Solidus 2.1.

[2016-10-20 13:15] mamhoff opened #1544 "Use ActiveModel::Naming for calculator descriptions"
All of Spree's calculators and our internationalization would benefit from better use of `ActiveModel::Naming`, a module included in all Rails models. This is up for grabs, if you want a commit in Solidus, do this for other calculators in core!

The base work for this is done in #1538 - all you'd have to do for each calculator is remove the `description` class method and add the correct translatio

[2016-10-20 13:27] tvdeyen commented on #1544
👍

[2016-10-20 19:25] gevann commented on #1544
I'll work  on this today

[2016-10-20 23:06] jhawthorn opened #1548 "Use HTML5 Validations for Frontend Checkout"
Extracted from #1542

@tvdeyen suggested

@mtomov replies

@tvdeyen responds

@cbrunsdon adds

[2016-10-21 05:09] bbuchalter commented on #1548
My team has learned the hard way that HTML5 form validations are not supported by Mobile Safari. If you wish to support that browser, you may not want to make that change.

[2016-10-21 06:17] tvdeyen commented on #1548
@bbuchalter we still have the model validations. Front-end validations are just, and should always, be an UX addition for users. Also, the form we provide is only an example and most likely will never be used on production as is. Stores that care about front end validations on mobile Safari can easily drop in some JS lib.

We can not provide front end templates that will fit all use cases. They ar

[2016-10-21 14:26] rsiddle opened #1549 "Canonical Link Incorrect (SEO)"
The /products URL needs to have the trailing slash removed[1]. The non-trailing slash is linked to throughout the website:

[code]

However, it should be:

[code]

Environment:
- Ruby 2.3.0
- Solidus 2.0.0

Sources:
[1] https://webmasters.googleblog.com/2010/04/to-slash-or-not-to-slash.html

[2016-10-21 20:31] mtomov commented on #1518
I would love to see the direct image upload land in core of solidus! It's such a pain to upload images!

@tvdeyen  I know you'd share my suffering, so just pinging you for solidarity : )

[2016-10-21 21:07] jhawthorn commented on #1548
For reference
http://caniuse.com/#feat=form-validation
https://bugs.webkit.org/show_bug.cgi?id=28649

[2016-10-21 22:18] tvdeyen commented on #1518
@mtomov you have my full solidarity. I would like to port Alchemys image upload over to Solidus. It's heavily based on https://github.com/blueimp/jQuery-File-Upload. Will see if so can free some time these days. The current image upload is just ridiculous, but as many stores don't even use the build in image solution and use services like Cloudinary, there was not much demand for a better solution

[2016-10-23 10:37] kennyadsl commented on #1549
I think it works the way it currently is. As far as I understood from the post you linked you don't have to pick the right version of the URL in the canonical tag, you should just pick one version and be consistent. Both `/products` and `/products/` return `200` so they are equivalent.

Ok, which one is the most correct version? Since `products#index` is a collection route I think it's correct to

[2016-10-23 12:13] jrochkind commented on #1549
It works the way it currently is, but Google recommends using the same version of the URL in most of your internal links as the canonical URL -- which makes a lot of sense. If they don't currently match, as it appears they do not, it's probably easier to change the canonical URL than to change all internal links.

[2016-10-24 12:24] rsiddle commented on #1549
@jrochkind That's correct. Google treats URLs separately based on their underlying character code (the original source link I posted shows the examples, with them mentioning the 200 status response). The following URLs may seem the same, but they are evaluated differently:

* http://example.com/test
* http://example.com/Test
* http://example.com/TEST
* http://example.com/test/
* http://www.example

[2016-10-24 12:28] kennyadsl commented on #1549
@rsiddle as far as I understood they are evaluated differently if there's no a consistent (always same) canonical tag in those pages.

[2016-10-24 13:37] rsiddle commented on #1549
@kennyads The canonical tag is an indicator to show which page your want Google to rank. At the moment, the internal links are all pointing to the non-trailing slash, which is a very strong indicator that it's the correct URL. The product index page then has a canonical tag which states that another URL is the desired URL (with trailing slash). By removing the trailing slash from the canonical tag

[2016-10-24 22:11] jhawthorn commented on #1549
I agree it would be better to lose the trailing slash.

`canonical-rails` [adds this](https://github.com/jumph4x/canonical-rails/blob/master/app/helpers/canonical_rails/tag_helper.rb#L4) for [index actions](https://github.com/jumph4x/canonical-rails/blob/master/lib/canonical-rails.rb#L24) (I have no idea for what reason)

[2016-10-24 22:24] kennyadsl commented on #1549
maybe it's just matter of setting an empty array [here](https://github.com/solidusio/solidus/blob/master/frontend/config/initializers/canonical_rails.rb#L8)?

[2016-10-25 13:03] mamhoff commented on #1436
I think this issue is fixed via #1487 .

[2016-10-25 13:03] #1436 closed

[2016-10-25 16:16] ericsaupe commented on #889
This looks to be intended behavior, https://github.com/solidusio/solidus/blob/master/core/app/models/spree/variant.rb#L358.

[2016-10-25 19:04] omnistegan commented on #1153
I've spent some time working with @Mandily on the product related pages. I'm still working through a few small improvements and then I'll submit a PR for the product edit page and solicit comments.

[2016-10-26 17:41] #1472 closed

[2016-10-27 15:10] cbrunsdon commented on #1549
I've noticed this come up in our analytics before, I don't think its reasonable to even expect just external links to be rendered correct and consistently, as other people could share a link with the extra trailing slash.

I'd be for setting the canonical link on the product page to what is proposed :+1:

[2016-10-27 15:22] cbrunsdon commented on #1548
As this is the default frontend, which is widely replaced anyway, I'd be pro putting in html5 validations with a warning in the changelog that someone might want to polyfill in something for iOS.

It wouldn't stop individual stores from using whatever they wanted, and we'd be reducing our reliance on an external lib in a forward-looking way.

[2016-10-27 23:48] mdamian322 opened #1564 "RMA amount not correct when the quantity of a line item is greater than 3"
Steps to recreate:
1. Purchase 3 of a product
2. Create New RMA
3. The “Amount Before Sales Tax” field is autofilled with with an amount that is 19.99000000000000003398. I’m expecting it to be $19.99

<img width="1351" alt="amounts-before-sales-tax" src="https://cloud.githubusercontent.com/assets/13877138/19789535/9cd4a5b0-9c6d-11e6-83da-c493e9fc6b22.png">

[2016-10-28 09:15] mtomov commented on #1549
@jhawthorn  - reason is that index pages represent a _collection_ of items, aka a _folder_ , which is why it is more semantically correct to use a trailing slash on index pages. An ending trailing slash represents a multitude of resources, while no trailing would represent one.

On the google link at the top, it's the first example:

But indeed, Rails's path helpers do not have the canonical rails

[2016-10-28 20:21] #1544 closed

[2016-10-31 08:08] CallMeSH opened #1567 "Overriding the Handlebars templates is impossible in production"
I recently faced a bug on Solidus 1.3.1 related to the backend handlebars templates.
I needed for one of my clients to override the variants suggestions in the autocomplete forms.
I first implemented my override by writing a new template in:
/vendor/assets/javascript/spree/backend/templates/variants/autocomplete.hbs.erb

It worked fine in development but in production, the original template was st

[2016-10-31 17:25] #193 closed

[2016-11-03 18:17] #1525 closed

[2016-11-07 21:37] jhawthorn commented on #1532
I think we're agreed on moving forward with this in #1540

[2016-11-07 21:37] #1532 closed

[2016-11-07 21:37] jhawthorn commented on #1399
Finished in #1507 :tada:

[2016-11-07 21:37] #1399 closed

[2016-11-07 21:40] #1515 closed

[2016-11-07 21:55] anulman opened #1576 "Easier mechanism to override Order state machine?"
Hi all! Thanks so much for forking and releasing Solidus, it's proving very helpful on a project we're building for a small chain of shops in meatspace.

One item we've found a bit difficult is overriding the standard Order FSM. What ships by default obviously works well for many flows, and already seems to allow for mods (e.g. via `:add_transition` & `:remove_checkout_step`).

We managed to easil

[2016-11-07 22:00] jhawthorn commented on #1350
Fixed by #1349

[2016-11-07 22:00] #1350 closed

[2016-11-07 22:17] peterberkenbosch commented on #1452
Some background information: http://guides.rubyonrails.org/association_basics.html#bi-directional-associations

[2016-11-07 22:20] evil-c commented on #1567
Hi @CallMeSH,

Curious if you found a workaround/solution to this yet.  I've run into the same issue.

Thanks.

[2016-11-07 22:42] Mandily commented on #1290
Just a note that I've updated the first message in this thread to reflect some of the changes that were mentioned in the "updates" section. It's a bit hard to maintain this kind of stuff in GitHub, so I'm going to make the jump to adding these notes to the style guide. Will post back when it's been updated. Thanks everybody for your feedback thus far!

[2016-11-07 23:39] Mandily opened #1577 "Allow user to turn off loading animation in style guide"
Currently, the user can click the "Toggle Loading" button in the style guide to see the loading animation. There is no way to turn it off.

To reproduce: Click on the "Toggle Loading" button.

The user should be able to click the toggle button a second time to turn off the loading animation.

[2016-11-08 00:47] jhawthorn commented on #1288
This should be fixed by #1514, which has been merged into master

[2016-11-08 00:47] #1288 closed

[2016-11-08 00:50] jhawthorn commented on #1252
@jordan-brough I think we've made huge progress here. What in your opinion is needed to close this.

It would be great if we had a example of what a very basic tax plugin would look like.

[2016-11-08 01:05] jhawthorn commented on #1248
I'm not sure there's anything we can do about this.

Spree's schema supported having multiple promotions with the same code, but it would not have functioned correctly. It would have applied an arbitrary promotion with a matching code.

At some point, for correctness and safety we needed to add this constraint, I wish we had been more explicit about it in the changelog.

Sorry for the delay in res

[2016-11-08 01:05] #1248 closed

[2016-11-08 07:32] CallMeSH commented on #1567
Unfortunately no, still waiting for help from the Solidus team.

[2016-11-08 16:52] adaddeo commented on #1288
Great stuff!

[2016-11-08 18:27] jhawthorn commented on #1567
I think unfortunately these can't be overridden. Neither can any JS asset. This is a sprockets issue, and is outside our control.

This is made extra confusing because dev and production behave differently (due to sprocket's debug setting). Sometimes attempting to override a JS file will result in both the overridden and not overridden file being included.

@cbrunsdon has looked into this more tha

[2016-11-10 18:42] #1471 closed

[2016-11-10 18:51] skukx opened #1585 "Custom Adjustments"
It would be nice if there were a way to create custom adjustments. Use cases for this would be having a extra charge for gift wrapping or engraving/imprinting text onto an item.  Right now adjustments are strictly `TaxRates` or `Promotions`

See https://github.com/solidusio/solidus/blob/master/core/app/models/spree/order_updater.rb#L222

This is a feature currently supported by Spree

[2016-11-10 21:50] skukx commented on #1585
It was brought up before that this would be better on the line item. For example add columns `giftwrap`, `imprint` etc.  However I don't think it would be very scalable to be adding a new column for every new personalization.  Also I believe this would require a lot of monkey patching.

[2016-11-10 22:27] #1585 closed

[2016-11-11 18:58] andreas-venturini opened #1588 "Checkout as guest cannot be completed successfully due to validation error"
Reproduce:

1. Follow the steps in the [Getting started guide](https://github.com/solidusio/solidus/tree/v2.0#getting-started)
2. Point your webbrowser to http://127.0.0.1:3000/
3. Add any item to the cart
4. Click on checkout
5. In the "Checkout as guest" input enter "guest@example.com"
6. Click continue
7. On the next page (the address step of the checkout process) go back to the cart e.g. by cl

[2016-11-12 06:02] 4dandies opened #1589 "Error rendering edit view of reimbursement"
Hello, doing some test I notice that error:

2016-11-12T05:55:13.708021+00:00 app[web.1]: F, [2016-11-12T05:55:13.707973 #8] FATAL -- : [b9930ae7-982a-426a-bb4d-4337a8de3236] SyntaxError (/app/vendor/bundle/ruby/2.2.0/gems/solidus_backend-2.0.0/app/views/spree/admin/reimbursements/edit.html.erb:3: syntax error, unexpected tSTRING_DEND, expecting ')'
2016-11-12T05:55:13.708022+00:00 app[web.1]: ...

[2016-11-12 19:05] gmacdougall commented on #1589
Hi @4dandies

This issue appears to have been fixed here:
https://github.com/solidusio/solidus/pull/1521

Can you try updating your version to include that fix?

[2016-11-12 19:05] #1589 closed

[2016-11-15 19:09] jhawthorn commented on #1577
Fixed by #1587

[2016-11-15 19:09] #1577 closed

[2016-11-15 21:28] ezekg commented on #1286
What's the status on this? Like @Kingdutch, I assumed you could implement your own front-end but that doesn't actually seem to be the case, even though the readme makes it sound like it is.

[2016-11-15 23:50] jhawthorn commented on #1588
Thanks for the detailed report. It really does help.

I can confirm that this happens in a sandbox, and seems to be at least somewhat related to auth_devise. I'm running a bisect to try and figure out what caused this.

[2016-11-17 13:34] bbuchalter commented on #1452
For the sake of good record keeping, https://github.com/solidusio/solidus/pull/1406 also addresses this issue.

[2016-11-18 04:12] flyfy1 commented on #1531
Hi I've just noticed your issue. I think my latest pull request solves the issue: #1591

[2016-11-18 20:10] masterkain opened #1594 "InsufficientStock during package creation"
I tested the latest release solidus version with a vanilla setup.

after a seed do this:

1) Create a new stock location
2) edit the stock for a product, set 1 on hand in the default stock location and 1 on the one you created, remove the backorderable flag on both
3) go on frontend, add 2 of this product to cart
4) proceed and go up until the delivery step
5) observe this:

[code]

[2016-11-18 20:13] masterkain commented on #1594
This doesn't seem to keep track of quantities. Originally I tested with another setup.

3 variants, S M L
3 stock locations, A B C

each stock location has one of each variant, so stock location A has 1 on hand of S, 1 on hand of M and one on hand L, and so on.

add 3 S, 1 M and 1 L to the cart, proceeed to checkout, you'll get a `Was only able to package 3 inventory units of 5 requested`

[2016-11-18 22:27] jhawthorn commented on #1594
Yep. This is broken. See #583

In spree 2.4 the existing `Stock::ContentItem` was changed from a struct which requested a quantity of some variant to a wrapper around an unsaved inventory unit, which also locks it to a specific stock location. Because of this mistake, packaging across stock locations doesn't work.

At some point I'd love to fix this, but I'm afraid that it can only be done with a

[2016-11-18 22:27] #1594 closed

[2016-11-18 22:37] jhawthorn commented on #1588
This should be fixed in the latest version of solidus_auth_devise, 1.6.2.

Thanks again @andreas-venturini

[2016-11-18 22:37] #1588 closed

[2016-11-21 06:44] flyfy1 commented on #1531
@dgra I've further looked into this issue.. for your case, did u use `create_quantity_adjustments` action?

[2016-11-21 16:14] masterkain commented on #1594
this seems to work for me https://github.com/nebulab/solidus/commit/4f2f5ee9d15af9996ce1f0fb47157da7443c0299 you might want to consider

[2016-11-21 16:28] dgra commented on #1531
@flyfy1 Hi, thank you for looking into this. I was not using the `create_quantity_adjustments` action. I believe I was using the `create_item_adjustments` action when I ran into this problem.

[2016-11-22 02:11] flyfy1 commented on #1531
@dgra I'm looking into this issue cuz I was facing sth similar.. Are u able to replicate the issue on the master branch of solidus? If u can.. could u post a screenshot indicating the issue~? Thanks!

[2016-11-22 15:08] mbreedlove opened #1604 "Master Price field should be conditionally required based on Spree::Config[:require_master_price]"
Spree::Config exposes a preference, require_master_price, that allows saving a master variant without a price.

If require_master_price is set to false, the "Master Price" field on Product#edit should not be required.

Here's the offending line: https://github.com/solidusio/solidus/blob/master/backend/app/views/spree/admin/products/_form.html.erb#L35

[2016-11-22 16:57] bbuchalter commented on #989
This issue seems quite out of date. Perhaps it's time to give it a freshening up in light of our intention to add related guides (https://github.com/solidusio/solidus/pull/1606)? I'd love for the guide to reference any further planned development.

[2016-11-23 16:02] dgra commented on #1531
@flyfy1 I had time to dig back into the problem I was facing. It turns out our frontend code was using the `apply_coupon_code` api call https://github.com/solidusio/solidus/blob/v1.4/api/app/controllers/spree/api/orders_controller.rb#L81-L91 to apply the coupons which doesn't cause a `reload_totals` as far as I can tell. This was causing our in-memory order to be out of sync. So my problem doesn't

[2016-11-23 16:25] fschwahn opened #1608 "Product#slug length validation prevents products with short names from being created"
I'm importing a product database, and I'm hitting a problem with the [slug length validation](https://github.com/solidusio/solidus/blob/78250a20ec57e86543b4d10302d14cc07850fd3b/core/app/models/spree/product.rb#L94). The product has the name `As`, which admittedly is not a great name, but unfortunately I have to work with the existing names.

The question is, why does this validation even exist? I

[2016-11-24 20:19] jhawthorn commented on #1608
Good catch. Let's replace `length: { minimum: 3 }` with just `presence: true`, the same validation on `name`.

Would you be interested in making a PR @fschwahn? :)

[2016-11-24 22:26] tvdeyen commented on #1567
@CallMeSH is it possible that you try out #1613 in you're app and see if this fixes your issues?

Should be as easy as:

[code]

Thanks!

[2016-11-24 22:51] tvdeyen commented on #1608
Hmm, I guess the minimum of three is I18n related? AlchemyCMS has a minimum length of three validation because of possible locales in the route.

But as Solidus has `/products/slug-of-product` as default product route I think it's ok to remove this, but I'm not 100% sure.

[2016-11-25 08:45] fschwahn commented on #1608
good point @tvdeyen - I think this is not an issue because of the structure of the routes (as you mention), but I have only a very superficial knowledge of the solidus/solidus_i18n codebase.

[2016-11-25 09:30] tvdeyen commented on #1608
The solidus_i18n codebase adds the non-default locale to the routes, but that's prepended to the product route, so

`/de/products/slug-of-product` would be the actual route.

That said I think it's safe to remove the length validation of the product slug.

[2016-11-28 09:42] florianguenther commented on #1237
What is the preferred solution for this?
Is someone working on the issue?

[2016-11-28 16:16] jbranchaud opened #1621 "Background of project name"
Is this project named after the [chemistry term](https://en.wikipedia.org/wiki/Solidus_(chemistry)), the [metal gear solid character](https://en.wikipedia.org/wiki/List_of_characters_in_the_Metal_Gear_series#Solidus_Snake), or the [roman coin](https://en.wikipedia.org/wiki/Solidus_(coin))?

[2016-11-28 19:40] jhawthorn commented on #1621
[Solidus is the name of an old Roman coin and is also the name for a forward slash](https://github.com/solidusio/solidus/wiki/FAQ#why-is-it-called-solidus) :)

[2016-11-28 19:40] #1621 closed

[2016-11-30 23:12] #1567 closed

[2016-11-30 23:45] rainhead opened #1630 "Customer and order emails are swapped in Admin"
I'm using Solidus 1.3.1, but the problem appears to persist in master.

If you look in the Customer pane of an order in the admin, the field labeled "Customer E-mail" is actually the order email. Meanwhile, in the "Order Information" sidebar, the email address labeled "User:" is actually the order's email address.

Ideally, non-guest orders would always have null email addresses in the database, a

[2016-12-02 14:45] fschwahn opened #1634 "VAT prices are generated twice for each country for variants"
I have a tax rate which has `included_in_price` set to true. When I create a new product, prices get generated twice for all countries. I think the reason is that product calls `validate_master`, which runs validations, which triggers the `before_validation :build_vat_prices` callback. The validations are run again through rails associations, which trigger `before_validation :build_vat_prices` aga

[2016-12-05 07:57] fschwahn commented on #1634
Some more information:

This only happens when building a new product model, the validations are then run twice because of association autosave. There is already a spec in place (https://github.com/solidusio/solidus/blob/b7ca586099d7dec60c37fb69801dc55c5b7e34bf/core/spec/models/spree/variant_spec.rb#L73) which checks that the correct number of prices are added which doesn't trigger this behaviour

[2016-12-05 07:59] flyfy1 commented on #1634
Looking forward to the fix. This issue bugged me for quite a while also.

[2016-12-05 10:24] sebfie opened #1639 "Using ajax to get home is slower than standard request"
Hello,

I have an issue with solidus, I am creating an add on to edit cms content of solidus and I need to get home using ajax.

Using ajax it tooks 1.9sec

[code]

Using browser 377ms :

[code]

In production mode, it does not happen.

Any idea?

[2016-12-06 06:44] flyfy1 opened #1641 "Remove Coupon Code?"
Currently, we can apply coupon code via endpoint `/api/orders/:id/apply_coupon_code`.

However, how to remove a coupon code?

[2016-12-06 16:10] mtomov commented on #1639
It is difficult to measure something like that in development because classes are reloaded and assets might be re-compiled on the fly in development. There should be comments in your Rails's `environments/development.rb` that explain that for `cache_classes`, `eager_load` .. etc.

Also, did you try the Ajax multiple times ? Might be that one some of the subsequent calls it will have all loaded ..

[2016-12-06 16:11] sebfie commented on #1639
Hello,

Yes, multi times get the same result. Did you reproduce it?

[2016-12-06 16:14] mtomov commented on #1641
There's no in-build way currently. One one occasion I had a custom endpoint built:

[code]

[code]

[2016-12-06 16:23] did commented on #1639
hey @mtomov, thanks for the quick reply. In dev, I get the same odd behaviour with both a request from curl and an AJAX request from the browser. The logs look the same compared to a simple GET request from the browser, except that it takes way more time to render some partials (it's totally random, not always the same) with an AJAX/curl request.
I wonder if other developers noticed that behaviour

[2016-12-06 22:24] jhawthorn commented on #1639
I've seen this before.

I believe what's happening is that the different `Accept` headers for content type make the rendering slower. I would guess (but can't confirm) that this is due to template lookup with multiple formats.

I can reproduce locally from a fresh sandbox, though my differences are far less pronounced:

`time curl -I -H 'Accept: text/html' http://localhost:3000/` 0.128 seconds
`ti

[2016-12-06 22:24] #1639 closed

[2016-12-06 22:30] did commented on #1639
hey @jhawthorn, good catch man, you nailed it! thanks!

[2016-12-07 05:20] flyfy1 commented on #1641
Thanks @mtomov . I ended up building a customized endpoint for remove coupon also, similar idea followed :)

[2016-12-08 23:40] #1634 closed

[2016-12-12 18:19] sechix opened #1646 "add taxon"
I have just installed solidus and trying to add taxon , i get a error and no opcions display.

all-471af44….js:10255 GET http://localhost:3000/api/taxonomies/1?set=nested 422 (Unprocessable Entity)

[2016-12-12 18:47] mamhoff commented on #1646
sechix: It seems like you're running with precompiled assets, which shouldn't be happening in development mode. Have you seen our tutorial under https://github.com/solidusio/solidus/blob/master/guides/getting_started.md ? Please try re-installing using that tutorial. If you have trouble again, please post an exact description of what you did along with your `Gemfile` and `Gemfile.lock`.

Solidus i

[2016-12-12 18:47] #1646 closed

[2016-12-14 23:04] eoinkelly opened #1650 "Spree::Money should be comparable"
Is there a reason why `Spree::Money` does not implement `<=>` and include `Comparable`? The [current implementation](https://github.com/solidusio/solidus/blob/master/core/lib/spree/money.rb)  manually implements `#==` but not `<=>`. I think it would be convenient to be able to sort `Spree::Money` instances directly rather than having to reach into their wrapped `Money` instances.

I'm happy to hav

[2016-12-15 07:09] bbuchalter commented on #1608
Can this issue be closed now that https://github.com/solidusio/solidus/pull/1616 is merged?

[2016-12-15 08:23] fschwahn commented on #1608
Yes

[2016-12-15 08:23] #1608 closed

[2016-12-15 09:34] bbuchalter commented on #1205
There are a few more subtleties to this issue that were difficult to capture in text. I took a screen recording of what I discovered and published it here: https://youtu.be/iPDnif_XHXM

In summary, my findings showed that when the `default_country_iso` does not match the first country specified in the `checkout_zone`, the country dropdown appears as if a selection has been made when it has not bee

[2016-12-15 11:21] mamhoff commented on #1650
We'd like `Spree::Money` to implement all the things that the base `Money` object supports, one by one. If this particular itches you, by all means submit a PR!

[2016-12-15 17:00] kennyadsl commented on #1650
@eoinkelly How do you want to implement this? I think we only should allow comparing Money objects that has the same currency with `<=>`.

[2016-12-15 19:20] sechix opened #1652 "Error in 2.1.0.beta1"
I get this error with solidus 2.1.0.beta1 executing store frontend:

ExecJS::ProgramError in Spree::Home#index
Showing /Users/mariajosegonzalesantelo/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/solidus_frontend-2.1.0.beta1/app/views/spree/shared/_head.html.erb where line #7 raised:

ReferenceError: CoffeeScript is not defined
Trace of template inclusion: /Users/mariajosegonzalesantelo/.rbenv/ve

[2016-12-15 21:54] jhawthorn commented on #1652
Hi @sechix

This was an issue earlier today with the `coffee-script-source` gem having a broken release. It should be fixed now.

See:
https://github.com/rails/ruby-coffee-script/issues/11#issuecomment-267422413
https://github.com/rails/ruby-coffee-script/issues/13
https://github.com/jashkenas/coffeescript/issues/4403

[2016-12-15 21:54] #1652 closed

[2016-12-15 22:00] jhawthorn commented on #1650
@kennyadsl I agree. That seems to be how `::Money` works already, so delegating to that will have the desired behaviour.

[code]

@eoinkelly A PR would be most welcome

[2016-12-15 22:19] eoinkelly commented on #1650
Not comparing across currencies seems sensible. I'll have a go at a PR and then we'll have something concrete to discuss.

[2016-12-15 23:32] jhawthorn commented on #1630
The "Customer E-mail" does indeed refer to the order's email. The wording could probably be more clear, but I don't think this is wrong, it is the customer's email as saved on the order.

As far as I can tell the sidebar does correctly show the user's email https://github.com/solidusio/solidus/blob/master/backend/app/views/spree/admin/shared/_order_summary.html.erb#L8

We've preferred always setti

[2016-12-16 01:55] rainhead commented on #1630
All right. If there's any way to make this clearer, it'd be appreciated. It confused us.

[2016-12-16 01:55] #1630 closed

[2016-12-16 03:31] flyfy1 opened #1653 "Change of Variant Price does not re-compute VAT price"
## Setup

In the tax category, having a tax rate included in the price

## How to reproduce:

1. Create a product with several Variants
2. Update variance price, make sure `rebuild VAT price` is checked

## Expectation

- What's seen: only variant default price is updated
- What's expected: the price for "all countries" should be also updated

## ScreenShot

![image](https://cloud.githubuserconten

[2016-12-16 03:41] flyfy1 opened #1654 "Duplicate Variant shown with Variant Having multiple product"
## Setup:

- define TaxCategory to have a TaxRate with tax included in price
- create product with multiple Variant

## How to see the issue:

In the SolidusFrontend, view the product

## ScreenShot:

![image](https://cloud.githubusercontent.com/assets/1553760/21250974/82b8847e-c384-11e6-8bb0-1ab3dfbac690.png)

[2016-12-16 03:44] flyfy1 commented on #1654
@mamhoff What's your idea about this issue?

[2016-12-16 19:47] sechix opened #1656 "Error"
I have this error running frontend store. I don't know why if I have solidus_static_content installed in solidus 2.1.0.beta1:

ActiveRecord::StatementInvalid in Spree::StaticContentController#show
PG::UndefinedTable: ERROR: relation "spree_pages" does not exist LINE 8: WHERE a.attrelid = '"spree_pages"'::regclass ^ : SELECT a.attname, format_type(a.atttypid, a.atttypmod), pg_get_expr(d.adbin, d.ad

[2016-12-17 13:05] kennyadsl commented on #1656
It seems like an error with `solidus_static_content` gem. You probably have to install migrations from that gem since the error is saying that the `spree_pages` table does not exist.

Try running:

[code]

[2016-12-17 17:19] gmacdougall commented on #1656
Going to close this issue as it's not related to the core solidus repository. Please use alternative means for assistance with these sort of issues, such as Stack Overflow or the #support channel on our slack.

[2016-12-17 17:19] #1656 closed

[2016-12-18 13:59] bbuchalter commented on #431
Pinging this open issue to @jhawthorn as I've wondered about this feature too. Is this something that can get extracted to a gem?

[2016-12-18 14:02] bbuchalter opened #1657 "RFC - Extracting state machine behavior into plain old Ruby objects"
I was contemplating how we could eventually move away from the complexity and opacity of the state machines. With Solidus's commitment to sane-upgrade paths, we have to consider the smallest possible iteration, so our options are fairly limited. I was thinking that perhaps we could start by simply extracting the behavior and logic of the state machines into plain old Ruby objects which we control.

[2016-12-19 21:40] cbrunsdon commented on #1654
@flyfy1 can you paste a snippet or something of some factory code that would exactly expose this problem on the sandbox? Would help a lot for debugging purposes.

[2016-12-20 20:11] jhawthorn commented on #1657
Thanks for the thoughtful write-up Brian.

I think a lot of the complexity we'd run into re-implementing state machine as PORO would be in restricting the state transitions. We don't, for example, want to start processing failed payments. They've failed. Further actions should not be taken.

[code]

The backtrace and error message from this might be slightly better than the one from `state_machine

[2016-12-22 14:18] bbuchalter commented on #1657
@jhawthorn thanks for your thoughtful reply. It's good for us to get this conversation started. Some specific replies below:

I had considered this, but honestly it felt like one of the _easiest_ parts of the extraction. You captured it perfectly in your code snippet. Is there more to it?

Do you see separating the state machines from the objects they mutate implemented as an extension point, simi

[2016-12-23 05:43] anulman opened #1665 "NoMethodError: undefined methods `helper_method' & `layout` for Spree::BaseController:Class"
When implementing `solidus_core` in a Rails 5 `rails-api` project, Solidus throws the above errors on boot and aborts, instead of properly booting.

Seems like this impacts several libs relying on `AbstractController::HelperMethods.helper_method` and `ActionView::Layouts.layout`, and that the Rails team will not likely add these back to the main lib. Instead, they recommend not calling these metho

[2016-12-30 02:15] flyfy1 commented on #1641
Just in case anyone needs to see how to do, here's what I did:

![image](https://cloud.githubusercontent.com/assets/1553760/21558679/d3fd8a4c-ce78-11e6-8290-7f0f1d719a58.png)

[2016-12-30 18:41] cbrunsdon commented on #1665
Looking through the devise PR (and every other PR that references it), it does look like wrapping it in a respond_to? check is the community preferred way of solving the issue.

https://github.com/plataformatec/devise/pull/3732

[2016-12-30 21:39] anulman commented on #1665
@cbrunsdon 👍 that looks like the right approach for the lib. My "resolution" code was purely in case other consumers stumble on this issue while debugging :)

Happy to submit a PR if this will be as simple as find/replace'ing through the project and confirming all tests continue to pass. If add'l tests will be required (not sure if this qualifies as refactoring vs. bug fix?), I'd appreciate some a

[2016-12-30 23:47] cbrunsdon commented on #1665
@anulman I don't personally think any additional tests should be required for this, though eventually we might want to rails-api spec in place (not sure how that would look).

A pr with just the surrounding respond_to? check would be fantastic, thanks.

[2016-12-31 08:53] alepore commented on #1657
maybe relevant, a state machine implemented with classes: https://github.com/gocardless/statesman

[2016-12-31 10:53] tvdeyen commented on #1657
@alepore this looks very promising. Thanks for sharing.

[2016-12-31 16:39] dhonig commented on #1657
Is there any advantage to StatesMan other than what appears to be a much better API, it is extremely similar to what is already there via the state_machine gem, or am I missing something?

[2016-12-31 20:09] BenMorganIO commented on #1657
Just my 2 cents. A friend and I once took the time to try to build a payments gem called Ryal. Largely an experiment. We wrote the state machine for it three times and constantly consulted an accountant for iterating over how a payment process should ideally work.

This was the first try with AASM: https://github.com/spurryal/spur/pull/5
Second attempt with Statesman: https://github.com/spurryal/s

[2017-01-02 16:51] anulman commented on #1665
@cbrunsdon first stab, haven't been able to get `build.sh` running. Can any project devs help? I've consulted README.md & CONTRIBUTING.md and am having difficulty getting the first test run booted.

Dumping state:

- Failed due to missing mysql executable; `brew install mysql`
- Failed due to postgres not running; `pg_ctl start` (why are both dbs required?)
- Failed due to missing postgres role; `

[2017-01-04 23:12] jhawthorn commented on #1196
#1448 has been merged, which I believe accomplishes what is needed for this.

Big thanks to @DanielePalombo

[2017-01-04 23:12] #1196 closed

[2017-01-05 18:52] #1539 closed

[2017-01-05 18:53] bbuchalter commented on #1539
It would be nice to cross reference the PRs which closed this issue.

[2017-01-06 05:59] bbuchalter opened #1674 "What is Calculator::PriceSack?"
While poking around I came across this [interesting comment](https://github.com/solidusio/solidus/blob/c676d0d23d239392e72ba7a4eceebed483490cea/core/app/models/spree/order.rb#L167) and started to wonder what use the [PriceSack calculator](https://github.com/solidusio/solidus/blob/c676d0d23d239392e72ba7a4eceebed483490cea/core/app/models/spree/calculator/price_sack.rb) has?

Aside from [this update

[2017-01-07 17:54] Magnusvb opened #1676 "NoMethodError in checkout (terms and condition)"
I'm a beginner on Solidus, and tried to place an order through the frontend. But, at the step after the payment (_confirm.html.erb), I get this error:

[code]
I can not find any way to define if acceptance of terms and condition is required.

[2017-01-09 23:59] graygilmore commented on #1676
The preference is set here: https://github.com/solidusio/solidus/blob/master/frontend/app/models/spree/frontend_configuration.rb#L6

Can you confirm that that file is being loaded?

[2017-01-10 12:59] gmacdougall commented on #1674
The basic structure of PriceSack is to give a different value to the promotion if the order or line_item  is above a certain amount. For example, $5 shipping on orders over $100.

We don't really have a good idea on how many people use this, so I'm a bit hesitant to remove it or even deprecate it. I think the best thing to do first would be to document it.

[2017-01-10 21:07] jhawthorn commented on #1676
@Magnusvb going out on a limb, sorry if I'm wrong.

Is it possible you've copied the `_confirm.html.erb` from Solidus master (which is 2.2.0.alpha) into your app running on an older version of Solidus? That method is brand new and doesn't exist in any Solidus gem releases. If you're copying views into your app, you will have to use the the version of the view matching the version you are using.

[2017-01-10 21:49] jhawthorn commented on #892
We now just link to [extensions.solidus.io](http://extensions.solidus.io), so I think this can be closed

[2017-01-10 21:49] #892 closed

[2017-01-10 21:49] jhawthorn commented on #1293
This was fixed by #1294

[2017-01-10 21:49] #1293 closed

[2017-01-10 21:52] jhawthorn commented on #1270
Thanks for the feedback. We're continuing to improve our docs and new user experience. Some good work has already come from this (like Brian's addition of READMEs to the subprojects)

Closing this due to lack of actionable steps.

[2017-01-10 21:52] #1270 closed

[2017-01-10 21:59] jhawthorn commented on #592
We did eventually incorporate Ben's great HABTM migrations from Spree 3.1. It will never be a totally seamless upgrade since the projects have diverged, but this should help.

If anyone finds other actionable improvements we can make to the upgrade please file a new issue.

[2017-01-10 21:59] #592 closed

[2017-01-10 22:01] jhawthorn commented on #1674
I'm reluctant to ever remove a calculator, since it is a huge pain to be missing a class referred to in the DB through rails' STI.

It would be nice if we displayed it to users in a better way. "Price Sack" is a terrible name.

Further complicating this is that the `Shipping::`, versions is broken and behaves differently to the promotion version :anguished:

[2017-01-10 22:22] jhawthorn commented on #1335
This issue was filed first, but #1549 covers the same issue and now has more infromation.

[2017-01-10 22:22] #1335 closed

[2017-01-10 22:24] jhawthorn commented on #1167
We've made progress, as can be seen in the linked merged issues.

There's always going to be more we can do to improve the UI here, and this issue no longer has actionable steps forward.

Marking this done. Thanks everyone.

[2017-01-10 22:24] #1167 closed

[2017-01-10 22:36] #440 closed

[2017-01-11 15:18] Magnusvb commented on #1676
John, you are totally right!
I had cloned (by mistake) the Master and used these files in my installation - which is version 2.1. Replacing with the right file solved the problem.

@graygilmore: I could not find the file with the settings, which made me wonder about the versions...

Sorry for the false issue (and late respons)! Many thanks!

[2017-01-11 15:57] tvdeyen commented on #1676
This is totally our fault as we never had a good way to override views in your app, until https://github.com/solidusio/solidus/pull/1681

[2017-01-13 22:13] jhawthorn commented on #1676
No worries @Magnusvb, you are hardly the first to run into this :wink:

Hopefully #1681 will make this less common to run into.

[2017-01-13 22:13] #1676 closed

[2017-01-16 03:33] kooinam opened #1684 "Are we supposed to transfer a ready shipment to another stock location?"
The UI show that we are allowed to transfer a shipment in READY state to another stock location but InventoryUnit did had destroy validation that forbid destroying associated with shipment in READY state. Is that a bug?

[code]

[2017-01-16 08:54] kennyadsl commented on #1684
This seems to be related to #97. Looking at [transfer to location code](https://github.com/solidusio/solidus/blob/712fbf6ec73467cda399d1eee1b6ea211cf1969d/core/app/models/spree/shipment.rb#L323-L338), when we [remove the line item from order contents](https://github.com/solidusio/solidus/blob/d06cfeaf066c467e00daa724dc54864906e8d88d/core/app/models/spree/order_contents.rb#L116) it also [destroys a

[2017-01-16 09:04] kooinam commented on #1684
So is it safe to replace

to

because the things is the UI is currently allowing transferring stock location for a shipment in READY state

[2017-01-16 12:40] kennyadsl commented on #1684
Honestly, I'm not sure if we'll have unexpected side effects allowing to destroy inventory units of ready shipments. Probably it's better to wait for someone else opinion/comment.

[2017-01-16 19:42] #416 closed

[2017-01-16 20:25] #1650 closed

[2017-01-19 15:47] sechix opened #1687 "Missing add_routes method updating solidus to 2.1.0"
Run server I get error due to missing method in spree:core: 'add_routes' .

This method is used in routes.rb file of extensions solidus_social or solidus_reviews
gem 'solidus_reviews', github: 'solidusio-contrib/solidus_reviews'
gem 'solidus_social' , github: 'solidusio-contrib/solidus_social'

Solidus_reviews/config/routes.rb

`
Spree::Core::Engine.add_routes do
  namespace :admin do
    resource

[2017-01-19 15:51] tvdeyen commented on #1687
This can be solved by using `Spree::Core::Engine.routes.draw`

This issue is a duplicate of https://github.com/solidusio-contrib/solidus_reviews/issues/5 and should be solved at that extension

[2017-01-19 15:51] #1687 closed

[2017-01-19 17:25] sechix commented on #1687
ok

[2017-01-23 20:59] #1531 closed

[2017-01-24 17:06] isindexer commented on #1654
Hi @flyfy1
Did you solve this issue ?

[2017-01-26 11:40] ShuaibMalik1 opened #1692 "This transaction cannot be processed. Please enter a valid credit card number and type."
D, [2017-01-26T11:28:12.005880 #9598] DEBUG -- :   Spree::Adjustment Exists (0.2ms)  SELECT  1 AS one FROM `spree_adjustments` INNER JOIN `spree_shipments` ON `spree_adjustments`.`adjustable_id` = `spree_shipments`.`id` WHERE `spree_shipments`.`order_id` = 21 AND `spree_adjustments`.`adjustable_type` = 'Spree::Shipment' AND (`spree_adjustments`.amount != 0) LIMIT 1
D, [2017-01-26T11:28:12.006821 #

[2017-01-26 12:18] gmacdougall commented on #1692
Thanks for your interest in Solidus. This is a forum for issues with the software itself. Your question would be better suited for an environment like Stack Overflow of the #support channel on our Slack.

[2017-01-26 12:18] #1692 closed

[2017-01-27 06:54] ShuaibMalik1 commented on #1692
Thanks for your reply. i am new on that and i am tying every thing to find that solution but i do't get. it's realy helpfull to me if you could suggest any thing to me for that

thanks

[2017-01-31 01:37] jhawthorn opened #1695 "Specifying stock locations on cart page doesn't work for existing line items"
### Steps to reproduce

Start with a store with two stock locations

On a new order's cart page, add an item, taking quantity 1 from each stock location

![](http://i.hawth.ca/s/qCyJE5ug.png)

Do the same again with the same item

![](http://i.hawth.ca/s/Gh1LIJ1v.png)

View the shipments

### Expected behavior

Two shipments, one from each location, each with quantity two, as the user specified.

[2017-01-31 01:37] jhawthorn opened #1696 "[RFC] Remove (or circumvent) location configured packages"
Location configured packages are a feature added in Solidus 1.0 which allows specifying an quantity and variant which must be sent from a specific location before shipments are created. This feature is only on the "cart" page of the admin (and available through the API). This is **not** the behaviour used on the shipments page.

![](http://i.hawth.ca/s/b4aXYOn1.png)

The cart page forces the admin

[2017-01-31 22:46] #1189 closed

[2017-02-02 10:58] ridem opened #1700 "simple_current_order creates an Order without a Store"
### Steps to reproduce
Try to access `available_payment_methods` from an order created by `simple_current_order` for a new user.

### Expected behavior
This should provide the available_payment_methods.

### Actual behavior
Can't find `payments`.

This is called to create the order:
[code]
(https://github.com/solidusio/solidus/blob/master/core/lib/spree/core/controller_helpers/order.rb#L27)

If tr

[2017-02-03 08:09] tvdeyen opened #1702 "Promotions form further improvements"
As a follow up to #1509 we should further improve the promotions form:

* [ ] Add hint to "advertise"
* [ ] Add hint to actions and rules
* [ ] Allow promotion action fields to update the promotion by enter key
* [ ] Align the layout
* [ ] Fix responsive layout
* [ ] Make the promotion code more prominent
* [ ] Link to promotion batch list from "This promotion uses x promotion codes" text
* [ ] Di

[2017-02-03 13:01] digitalWestie opened #1704 "Admin sidebar tab routes are breaking in custom admin pages"
### Steps to reproduce
Create an app, in the routes namespace the solidus engine e.g.

`mount Spree::Core::Engine, :at => '/solidus'`

Then generate a new controller (inheriting) and action for a new admin page:

`rails g controller spree/admin/mything index`

This should inherit admin capabilities:

`class Spree::Admin::ModelsController < Spree::Admin::BaseController`

Add a route for it, then a

[2017-02-09 18:57] mdamian322 opened #1711 "Not able to use backend shipping methods in admin"
**Steps to Recreate:**
1. Select “Backend” from the Display dropdown on a Shipping Method in admin and save
2. Create an order in admin and get to the Delivery Step
3. Select a shipping method for the order. Notice that the shipping method you updated is not showing as an option, although “Backend” was selected

Expected Behavior: The shipping method should have been showing in the dropdown as an

[2017-02-10 07:42] tvdeyen commented on #1696
In the last core team meeting we decided to go with option 2 (removing the feature).

[2017-02-10 08:24] anulman commented on #112
Hey all—hoping to revive this thread.

Stumbled on this while [browsing source](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/store.rb#L6); my firm is about to need different `default_cart_tax_rate` lookup on our stores and would like to minimize eventual pain as Solidus expands multi-store support.

Seems easy enough to override the lookup w/ a subclass, but we'll have to

[2017-02-10 19:37] jhawthorn commented on #112
Hello @anulman

I don't think we would accept a PR making Properties polymorphic. The `Property` is designed specifically for displaying some attributes of Products to customers and is a poor fit for just storing arbitrary data.

Instead you might consider either the `preference` feature, which allows serializing pseudo-attributes into a `preferences` attribute on the model. Or introducing a your

[2017-02-12 23:15] anulman commented on #112
`preferences` looks great. Is usage documented anywhere higher-level than the spec / are there particularly useful reference implementations?

[2017-02-13 11:00] CallMeSH opened #1712 "Short shipping multiple inventory units of the same line item mess the adjustments"
Hello everyone, I've noticed a weird behaviour of the Spree::OrderCancellations class that I would like to discuss with you.

### Steps to reproduce
Create an order with multiple quantities of the same product.
You get as many inventory units as quantities you selected.
Then try to short ship all the inventory units of this line item (in the backend or directly with the service object, it doesn't

[2017-02-14 22:44] winterblack opened #1713 "copying view to edit breaks admin orders page"
### Steps to reproduce

1. Create a test app following the Getting started directions in the ReadMe
2. Copy and paste "views/spree/admin/orders/index.html.erb" from solidus master into test app

### Expected behavior
No change

### Actual behavior
NoMethodError in Spree::Admin::Orders#index
Showing /home/judd/sample_store/app/views/spree/admin/orders/index.html.erb where line #39 raised:

undefine

[2017-02-15 07:22] tvdeyen commented on #1713
Please try to copy the view from the `v2.1` branch instead. You can either switch the branch in GitHub or use `bundle open solidus_backend` to open the gen in your local code editor.

[2017-02-15 16:22] winterblack commented on #1713
Fixed, thank you.

[2017-02-15 16:22] #1713 closed

[2017-02-16 21:25] jrochkind commented on #1712
I'm not sure I understand why it's calculating based on `line_item.inventory_units.not_canceled.reject(&:original_return_item ).size` in the first place.

Is it trying to exclude cancelled items, becuase it expects previously cancelled items would have resulted in the LineItem#total being updated? Does that actually happen? I think maybe it doesn't?

Should this just be calculating based on a stra

[2017-02-17 21:41] jhawthorn commented on #1366
This should be fixed by #1709, which bypasses the "location configured package" feature, which is what caused the separate shipments.

[2017-02-17 21:41] #1366 closed

[2017-02-18 09:49] vfonic opened #1719 "Suggestion: Introduce JS Linter"
The solidus js/coffeescript code is growing bigger and bigger every day. There doesn't seem to be a unified code style or something that would enforce it.

Things like:
[code]

or

[code]

...using semicolons or not, spacing between `function()` and `{` etc.

If we follow the same style, and I'd add, use coffeescript or javascript exclusively, not intertwined, the code would be easier to read, and

[2017-02-18 10:13] tvdeyen commented on #1719
Generally this is a great idea and as we already use HoundCI for Ruby linting we could enable their JS linting as well.

BUT: As with every code style guidance there are religious wars to expect. That's why we want to reduce the linting to the absolute minimum. We don't want to run single vs double quotes, leading comma vs trailing comma and so on and so forth debates.

Also, we need to update the

[2017-02-19 08:45] vfonic commented on #1719
We should also agree about which rules the linter should use then. I just created a PR for CoffeeScript, but not sure that the configuration is what you guys are looking-for/agree-on?

[2017-02-19 08:45] vfonic commented on #1719
I personally think we should convert those coffeescript files to javascript and use js exclusively.

[2017-02-19 09:58] vfonic commented on #1719
Just ran `rubocop` and here's the output:
[code]

[2017-02-20 03:01] vfonic opened #1723 "Admin: Edit customer returns show_decision broken style"
### Steps to reproduce
Go to order customer returns and edit one. You should see Accept/Reject action buttons. If you don't, for the sake of this issue, edit `backend/app/views/spree/admin/customer_returns/edit.html.erb` and replace `show_decision: false` with `show_decision: true` throughout. (Or create a pending return item or manual intervention return item). Hover over "Accept" or "Reject".

#

[2017-02-20 03:28] vfonic opened #1724 "Admin: Adding Variant Product Properties is confusing"
### Steps to reproduce
I think Product Properties page requires some attention.

Go to `/admin/products`, choose a product with variants and click on "Product Properties".

First, if you click on "+ Add Product Properties" in top right corner, it will add new row to "Product Properties" table, which could be slightly confusing, especially since we're introducing new kind of way to interact with "a

[2017-02-20 04:50] vfonic opened #1726 "Core: OrderContents#add quantity parameter not set to default when passed nil"
### Steps to reproduce
I had code similar to `orders_controller#populate`:
[code]

The difference is that:
1. I don't have reasonable quantity check (I think that's unnecessary code)
2. I have this line slightly different:
Solidus core code:
[code]
Mine:
[code]

I looked at `OrderContents` and saw the default parameter value for quantity to be one and assumed that it would work with these params o

[2017-02-21 16:37] huyngvu opened #1728 "Implement Solidus version 2.1 to my existing rails app"
### Steps to reproduce
I have a Rails have with existing user table and using devise gem
Now I need to implement Solidus to my app. Something like that http://localhost/shop
I want to implement Solidus but use the same existing user table and devise gem instead of spree_users table.
Could someone please let me know what should I do?

### System configuration
2.1

Thanks for your help!
Huy

[2017-02-21 17:40] tvdeyen commented on #1728
The GitHub issues are solely meant for bugs. Please use Slack for seeking help.
http://slack.solidus.io

[2017-02-21 17:40] #1728 closed

[2017-02-21 18:28] bbuchalter opened #1729 "Cannot refund a payment from a soft-deleted payment gateway"
### Steps to reproduce
1. Setup a payment method
2. Complete an order with a payment from that payment method
3. Delete that payment method
4. Attempt to refund the payment on the completed order

### Expected behavior
Not sure what expected behavior should be. Some options could be:
1. Payments with a deleted payment method no longer have actions in the UI
2. Payments should use the `with_deleted

[2017-02-21 18:36] gmacdougall commented on #1729
I would tend to side with adding the `with_deleted` scope. Though both are reasonable.

[2017-02-23 01:33] brchristian opened #1737 "Stock Transfer receive dropdown autocomplete fails when all of stock in transit"
I’m on the latest gem release of `2.0.x`. If I transfer all of the stock of a given product from one warehouse to another, I can’t "receive" the package correctly. The product is out of stock in all locations while it’s in transit, and when I go to log the received stock, the dropdown won’t show that product.

My workaround: go to Store Stock, manually change quantity at my receiving warehouse to

[2017-02-24 18:51] bbuchalter commented on #1729
This is a duplicate of https://github.com/solidusio/solidus/issues/1186 which was fixed by https://github.com/solidusio/solidus/pull/1200.

[2017-02-24 18:51] #1729 closed

[2017-02-27 21:47] jhawthorn commented on #1719
Fixed by #1736

[2017-02-27 21:47] #1719 closed

[2017-03-02 19:08] jhawthorn opened #1752 "Overeager parameter filtering"
We set `app.config.filter_parameters` to filter out `number` and `verification_value`, because we absolutely don't want to log user's CreditCard numbers or CVVs.

However this also filters out ANY parameter with `number` in the name. For example `"original_shipment_number"=>"[FILTERED]"`

[2017-03-05 16:08] countchokcula opened #1756 "ActiveRecord::StatementInvalid in Spree::CheckoutController#update"
### Steps to reproduce
How can we make this happen

1. Add item to cart
2. go to cart
3. checkout
4. keep going through checkout, save and continue until error occurs

### Expected behavior
Tell us what should happen

it should update the checkout and bring me to the delivery section

### Actual behavior
Tell us what happens instead

I get in error saying the action **update** using the method **@

[2017-03-05 21:33] #1756 closed

[2017-03-05 21:33] countchokcula commented on #1756
Oops. i forgot to remove my old migration files. I wiped the entire database and deleted all of the random migrations files from the old solidus. easy!

[2017-03-06 15:42] bofrede commented on #1548
The iOS problem is finally about to go away.
https://webkit.org/blog/7093/release-notes-for-safari-technology-preview-19/

[2017-03-09 23:50] jhawthorn commented on #1674
As for better names: I've heard the term "hurdle" used for this type of promotion. In slack Sean Denny suggested "price break" (which I like)

[2017-03-15 21:28] jhawthorn commented on #763
I'm no longer sure it's a good idea for our project to upgrade to select2 4.0.3. I can't entirely rule it out, but it would be a significant investment (both from me and stores/extensions upgrading) for questionable, and maybe negative benefit.

Select2 4.0 has significant API changes. See for example what it takes to [change variant_autocomplete.js.coffee to use select2 4.0](https://github.com/jh

[2017-03-16 18:40] #1204 closed

[2017-03-16 18:41] jhawthorn commented on #1266
We have added a few, I don't think this issue is helpful to leave open without specific recommendations

[2017-03-16 18:41] #1266 closed

[2017-03-16 19:11] jhawthorn commented on #1752
Fixed by #1755

[2017-03-16 19:11] #1752 closed

[2017-03-18 11:00] mamhoff commented on #1684
We discussed this in core, and we think this is an oversight. The `transfer_to_*` methods on `Spree::Shipment`, however, do have a number of other strange side effects: If the price of your line item is somehow different from the variant's price, the new line item you obtain after doing a full split (fulfilling all inventory from another stock location) will the variant's default price.

Also, goi

[2017-03-21 22:06] jhawthorn opened #1788 "Support Rails 5.1"
[Rails 5.1.0.rc1 is out](http://weblog.rubyonrails.org/2017/3/20/Rails-5-1-rc1/)!

I've done a quick sprint to add support for Rails 5.1, and it wasn't too much work [jhawthorn/solidus@rails_5_1](https://github.com/jhawthorn/solidus/tree/rails_5_1). All specs pass with only a handful of warnings.

I don't know yet how we should approach this version upgrade w/r/t Solidus versions:

1. We could do

[2017-03-23 20:26] gmacdougall opened #1794 "Replace E-mail Validator"
Our current e-mail validator is not good. It is a simplistic regular expression that incorrectly flags some e-mails as being valid though they are not.

The [validates_email_format_of](https://github.com/validates-email-format-of/validates_email_format_of) gem can be of assistance here.  It has a superior implementation of e-mail validation, and superior test cases.

We should consider using this

[2017-03-23 21:31] jasonfb commented on #1794
https://davidcel.is/posts/stop-validating-email-addresses-with-regex/

[2017-03-23 21:35] jasonfb commented on #1794
having said that, we really like this approach (which isn't really an email validator at all, more a suggester): https://github.com/mailcheck/mailcheck

You can check that out live by going to Kickstarter (log out if you are already logged in), then click 'Sign up'. Then enter your email but purposefully leave off the ```.com``` (or in your case ```.ca```), you'll see it suggest the right email to

[2017-03-24 16:54] mtomov commented on #1794
I think that so log as it does not flag correct emails as being wrong, it's fine as it is. I don't consider it to be a core responsibility of Solidus to handle such use cases with perfection. They can be implemented at the individual store level.

[2017-03-24 17:02] mtomov commented on #1726
Maybe in the `#populate`, one can just do

[code]

I'd avoid going for anything too involved. I think it is the responsibility of the controller to filter out the bad data.

[2017-03-24 17:07] mtomov commented on #1724
I'm sure you will have a hard time finding someone to disagree with you : )

In general, on those matter, I'd advise to just pure steel the UX from Shopify : ) ..  it's really pretty good , and you will save yourself lots of time coming up with one of your own.

[2017-03-24 17:31] gmacdougall commented on #1794
I tend to think that since we're [providing an e-mail validator](https://github.com/solidusio/solidus/blob/v2.1.0/core/lib/spree/core/validators/email.rb) we should make it decent.

We can also try to get out of that business altogether, but that's a bit more of an invasive change.

[2017-03-24 18:09] jhawthorn commented on #763
Closing as there's nothing actionable here. I no longer think upgrading to select2 4.0 would be a net positive for our project.

[2017-03-24 18:09] #763 closed

[2017-03-28 04:48] vfonic commented on #1726
Since solidus' users are developers and there's no documentation of solidus...at all, I think the filtering of the bad data should happen at any user-entry point aka developer API aka any public method. In this case, that would be the `OrderContents`. Whether it would be a default of 1 or a validation error, that's another discussion, but it should not be possible to create invalid `OrderContents`

[2017-03-28 04:49] vfonic commented on #1724
It would be good if someone who has already done that, to share back with the community. ;)

[2017-03-28 06:57] bbuchalter commented on #1501
I believe this issue can be closed now that https://github.com/solidusio/solidus/pull/811 is merged?

[2017-03-28 07:15] tvdeyen commented on #1501
Thanks for pointing us here.

[2017-03-28 07:15] #1501 closed

[2017-03-28 07:19] tvdeyen commented on #1794
Why not let the user class provider handle this (in our case `solidus_auth_devise` could let Devise validate this email)?

That's definitely not something we should do in core.

[2017-03-28 07:32] bbuchalter opened #1803 "Spree::Admin::VariantsController#index breaks for deleted products"
### Steps to reproduce
[code]
* Visit http://localhost:3000/admin/products/ruby-on-rails-ringer-t-shirt/edit
* login as admin@example.com / `test123`
* Add the "Size" option type to the product and save
* Create a variant
* Return to the product admin index
* Search for "ringer"
* Delete the product
* Search for "ringer" with deleted and click on the product
* Go to the variants tab

### Expected

[2017-03-28 23:24] Draiken opened #1808 "Undefined method `to_d` when adding item to order through backend"
### Steps to reproduce
* Go to the admin and selected an order
* Used the search bar to find a product to add
* Set the quantity to 1
* Click "Add"

### Expected behavior
Item added to the order's cart

### Actual behavior
Got an error. Stack trace: https://gist.github.com/1322d81cb0525a068a7700002196f7a6
The page removed the widget to add quantity and now the search doesn't work properly: clickin

[2017-03-30 14:48] kennyadsl commented on #1808
@Draiken it seems like there's no price retrieved for that specific variant. Can you please check?

Anyway that code is much more solid on newer versions. Is it possible to update solidus to 2.1.0 for you?

[2017-03-30 18:12] Draiken commented on #1808
Yeah, I'll see if I can do it :slightly_smiling_face:
This is probably bad data then, closing

[2017-03-30 18:12] #1808 closed

[2017-03-31 08:34] mtomov commented on #1674
Even if you call it "Price Break", one would still have to explain how it works, and as you said any name change would not be so non-invasive. So, I'd rather stick with this one, but add one of those little fellows:

![screenshot from 2017-03-31 09-30-42](https://cloud.githubusercontent.com/assets/1651750/24542807/f89f9a8e-15f4-11e7-91c7-b8b8784ae0bd.png)

I'm thinking that we should actually make

[2017-03-31 08:51] mtomov commented on #1788
Btw, there's a pretty good reason for stores to upgrade to 5.1, as this performance issue has just been addressed there:

- https://github.com/rails/rails/issues/25970

and I've come to experience it myself - on a product page with 180 variants - it takes > 100ms just the call to `product.variants.includes(:option_values)`

So, thanks indeed for the effort!

[2017-03-31 10:52] aaronrussell opened #1811 "User address not added to order after signing in"
### Reproduce

Given:
* I am a registered user with an address
* I am **not logged in**
* I have some items in my cart and am on the cart page

When:
* I click to proceed with checkout
* I am redirected to the login page
* I fill in my login details and click submit
* I am redirected to the checkout address step
* And my address is **not displayed** in the form

Expected:
* I expect my existing ad

[2017-03-31 11:11] mtomov commented on #1811
I could tell you why that happens, though I don't have a solution proposal:

[#assign_default_addresses! in Checkout](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/order/checkout.rb#L93) is the one doing the magic, but only when you change the state of the order from `cart` to `address`. That actually happens when you click Checkout, irrespective if you are logged in or no

[2017-03-31 12:30] kennyadsl commented on #1811
What about adding [here](https://github.com/solidusio/solidus_auth_devise/blob/979cff481e45341dde2755a133970532464b4913/lib/controllers/frontend/spree/checkout_controller_decorator.rb#L16) something like this:

[code]

Maybe the only downside is that having this assignment in two places (and one of them is an external extension) it will be harder to debug and understand what happens in case of err

[2017-03-31 12:32] aaronrussell commented on #1811
Thanks - that's pointed me in the right direction. I've solved this in my app by overriding `CheckoutController#before_address` in a decorator:

[code]

[2017-03-31 13:00] mtomov commented on #1811
@kennyadsl that sounds like the right direction, though I am thinking that it will spread the logic too much if we add such a line to auth Devise. However, looking at the second like that you gave, I noticed [`after_action :set_current_order, only: :create`](https://github.com/solidusio/solidus_auth_devise/blob/979cff481e45341dde2755a133970532464b4913/lib/controllers/frontend/spree/user_sessions_c

[2017-03-31 13:09] kennyadsl commented on #1811
Probably @aaronrussell solution is better than mine since it does not require to change external extensions and will work no matter which controller will intercept/redirect to the checkout.

@mtomov Are you suggesting to move the `order.assign_default_addresses!` call from the state machine logic to the `set_current_order` method at controller level instead of duplicating it? I'd be less confident

[2017-03-31 18:55] jhawthorn opened #1812 "TieredPercent and TieredFlatRate calculators should have a currency preference"
Both the TieredPercent and TieredFlatRate calculators have different options which activate when the amount is above a certain monetary value. Unfortunately, they aren't tagged with a currency, so they aren't suitable for use on multi-currency stores.

[2017-04-04 01:50] brchristian opened #1819 "Promotions with multiple codes: codes locked and cannot be edited or created"
I’ve created a brand-new Solidus store using the head of the `v2.0` branch. I go to create a promotion with multiple codes like so:

<img width="1280" alt="screen shot 2017-04-03 at 6 45 02 pm" src="https://cloud.githubusercontent.com/assets/2460418/24638555/354ba760-189e-11e7-932b-eb7e5d85243d.png">

What happens when the promotion gets created is this --- look at the "Base code" field in particu

[2017-04-04 18:07] jhawthorn commented on #1819
This is all expected behaviour, but the UI was really bad. Fields are indeed supposed to be readonly once created. The random string is because you've asked it to create 12 codes, so it invokes the code generator (codes need to be unique). If you want to specify the exact code, number of codes needs to be `1` (I know this isn't obvious).

This wasn't great, but I think it's greatly improved in #15

[2017-04-04 18:07] #1819 closed

[2017-04-05 19:37] sechix opened #1825 "Error deplying to heroku"
I am using solidus 2.2, but get error in my first deployment to heroku. I have run migrations, prepare and load, but I still error.
I don't know where is the other channel support, so I have posted here:

`/app/vendor/bundle/ruby/2.3.0/gems/activerecord-5.0.2/lib/active_record/connection_adapters/postgresql/database_statements.rb:88:in `async_exec': PG::UndefinedTable: ERROR:  relation "spree_stor

[2017-04-05 20:37] jhawthorn commented on #1825
Could you provide a full backtrace?

[2017-04-05 21:00] sechix commented on #1825
`source 'https://rubygems.org'

ruby ENV['CUSTOM_RUBY_VERSION'] || '2.3.1'
# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '~> 5.0.0', '>= 5.0.0.1'
# Use postgresql as the database for Active Record
gem 'pg', '~> 0.18'
# Use Puma as the app server
gem 'puma', '~> 3.0'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
# Use Uglifier as compressor for JavaScript asse

[2017-04-05 23:40] #1684 closed

[2017-04-06 11:50] bbuchalter commented on #1819
I have to say I think the inability to add more codes to an existing promotion is a major shortcoming. Is there an existing issue to request this feature? If not, perhaps this is where it belongs?

[2017-04-06 19:35] sechix commented on #1825
Hi, now i solved this error but now get :
`/app/app/controllers/users_controller.rb:2:in `<top (required)>': uninitialized constant User (NameError)`

I have follow steps to deploy perfectly doing also migrations and seed. I don't know why i get this error if app works in localhost.

[2017-04-07 00:00] skukx commented on #1475
The reason this is happening is because of this line:
https://github.com/solidusio/solidus/blob/v2.1/core/app/models/spree/order.rb#L355
[code]

After a `Spree::Refund` is created `perform!` is called
https://github.com/solidusio/solidus/blob/master/core/app/models/spree/refund.rb#L16

In turn, this method calls `payment.order.updater.update` Which updates the `payment_total` column on the `Spree:

[2017-04-07 16:12] sechix commented on #1825
It's solved!!!!

[2017-04-07 16:12] #1825 closed

[2017-04-10 16:48] vladstoick opened #1836 "TaxRate <--> TaxCategory relation type"
# Background:
- A TaxRate belongs to a TaxCategory
- A Product/ Variant belongs to a Tax Category
# Problem:
When adding multiple categories you end up duplicating a lot of tax rates as VAT is applied differently across Europe based on the TaxCategory. For instance some countries have special tax reduction for certain tax categories, while other don't. A rate must exist for each category if you wa

[2017-04-10 17:31] ericsaupe opened #1837 "Shipping calculators still include cancelled items in shipping cost"
### Steps to reproduce

1. Complete order with many items and flexirate shipping calculator
2. Cancel items in shipment
3. Adjustment created does not take into account shipping cost
4. Cost on shipping was not changed even though less items will be shipped

### Expected behavior
After an item is cancelled the calculator should only calculate cost based on what is actually going to ship.

### Actu

[2017-04-10 19:06] mamhoff commented on #1836
Go for it. I see a challenge in administering this nicely in the backend, but from a data architecture standpoint this makes a whole lot of sense. :+1:

[2017-04-10 20:20] mamhoff commented on #390
Is the `PriceSelector` that's been in core since 1.3 good enough to close this issue? Are we missing features?

[2017-04-10 20:41] jhawthorn commented on #390
`PriceSelector` certainly fulfills this issue. If there are other requirements, they should be in a new issue.

[2017-04-10 20:41] #390 closed

[2017-04-11 06:32] NoelDiazMesa opened #1839 "Segmentation fault when try debbug Solidus app with byebug"
## I have this segmentation fault when I try to debbug my app with byebug Gem
[code]
### My Gemfile
[code]

#### I reported this bug to byebug and  http://www.ruby-lang.org/bugreport.html

[2017-04-11 19:03] jhawthorn commented on #1839
Thanks, but probably nothing we can do. This will be the fault of some native code and Solidus itself is pure ruby.

[2017-04-11 19:03] #1839 closed

[2017-04-12 05:42] NoelDiazMesa commented on #1839
Thank you very much anyway, but, one question, which you use to debug??? I like byebug but it's not posible.

[2017-04-12 12:13] gaurav945 opened #1841 "Order state not changing from 'confirm' to 'complete', via API call"
### Steps to reproduce
When you make the following API call (when the order is in confirm state),
PUT api/checkouts/order-number
it gives an error, which is, cannot transition to the next step.

### Expected behavior
Ideally, the state should get updated to 'complete', when the API call is made.
Right now, the code is as follows, in checkouts_controller for API :

[code]

Instead, it should be :
[

[2017-04-20 21:33] AndreiMotinga opened #1849 "v2.2.0.rc1 on heroku"
2017-04-20T21:31:27.611193+00:00 app[web.1]: ! Unable to load application: NameError: uninitialized constant Spree::ApplicationMailer
2017-04-20T21:31:27.611279+00:00 app[web.1]: bundler: failed to load command: puma (/app/vendor/bundle/ruby/2.3.0/bin/puma)
2017-04-20T21:31:27.611348+00:00 app[web.1]: NameError: uninitialized constant Spree::ApplicationMailer
2017-04-20T21:31:27.611349+00:00 app[w

[2017-04-21 08:07] kennyadsl commented on #1849
Hi @AndreiMotinga, can you please refer to [this guide](https://github.com/solidusio/solidus/blob/master/CONTRIBUTING.md#filing-an-issue) when posting issues? It will help other people understand your problem and help you, thanks!

[2017-04-21 22:21] jhawthorn commented on #1849
Thanks for the report. Looks like `PromotionCodeBatchMailer` was inheriting from `ApplicationMailer`, whereas all previous mailers inherited from `Spree::BaseMailer`.

[2017-04-22 13:00] mamhoff commented on #989
I'll close this issue now as the refactoring in question is mostly done. The one point not tackled so far is time-aware tax rates, for which I'll create a new issue.

[2017-04-22 13:00] #989 closed

[2017-04-22 13:03] mamhoff opened #1857 "Time-aware tax rates"
Tax rates are currently valid "forever". If a tax rate changes in a jurisdiction a store sells to, the tax rate records have to be updated exactly when the new tax rates comes into effect. This is not very user-friendly.

It would instead be nice if we could set a `valid_from` and `valid_until` date on tax rates, and have them apply when the current datetime is within these two dates. If both are

[2017-04-22 13:09] mamhoff commented on #1127
This has been fixed in https://github.com/solidusio/solidus/commit/726630f3f84ca4a79a675a91d6081bbf6cdfe718

[2017-04-22 13:09] #1127 closed

[2017-04-22 13:15] mamhoff commented on #931
The `imagemagick` dependency is still not included in the README. If that gets fixed, this issue can be closed (the reference to `rails g solidus:auth:install` has since been added).

[2017-04-22 13:16] mamhoff commented on #930
I think this is answered and also reflected in the README. Closing.

[2017-04-22 13:16] #930 closed

[2017-04-22 13:21] mamhoff commented on #908
@cbrunsdon Can we close this issue or do you want to keep it around until we have refactored and cleaned up?

[2017-04-22 13:24] mamhoff commented on #724
Since #850 has been merged, there have not been any more 👍 on this issue. Closing now.

[2017-04-22 13:24] #724 closed

[2017-04-22 13:32] mamhoff commented on #721
If I see things correctly, this issue is still outstanding and could be fixed by adding

[code]

and replacing

[code]

with

[code]

@jhawthorn any objections to re-adding this extension point?

[2017-04-22 13:36] mamhoff commented on #626
Since #572 has been merged, I think this issue can be closed. @jhawthorn @cbrunsdon wdyt?

[2017-04-22 13:44] mamhoff commented on #610
This is still an issue. I would vote for deprecating usage of the `icon` helper and creating a new namespaced `solidus_icon` helper.

[2017-04-22 13:56] mamhoff commented on #568
Right now, there is only five invalid factories left:
[code]

Some of these are probably not easy fixes. Who takes on the challenge?

[2017-04-22 13:58] mamhoff commented on #461
Closing since 1.3 has been out for a while.

[2017-04-22 13:58] #461 closed

[2017-04-22 14:00] mamhoff commented on #451
I believe this issue was created to facilitate migrating a 3.0 store to Solidus. This goal has been accomplished in 1.4 at the latest. Closing.

[2017-04-22 14:00] #451 closed

[2017-04-22 14:06] mamhoff commented on #347
The referenced PR has not been merged, and from what I see Solidus still does not preserve selected shipping methods when running `Spree::Order#create_proposed_shipments`. I would be a nifty feature to have, but likely add more complexity to the Stock coordinator. There has not been any activity on this feature for more than a year now; closing.

[2017-04-22 14:06] #347 closed

[2017-04-22 14:07] mamhoff commented on #270
This issue is not actionable, closing.

[2017-04-22 14:07] #270 closed

[2017-04-23 09:26] robinboening opened #1859 "undefined method `currency' for nil:NilClass"
### Steps to reproduce
1. Create a new product
1. Go to `/admin/products/xyz/prices`
2. Change the currency of master variant
3. Go to `/admin/products/xyz/edit`

### Expected behavior
I should be able to render the edit form of the product without an error and see the new currency in the `Master Price` input field.

### Actual behavior
A 500 Error is raised with following backtrace
[code]

### Sy

[2017-04-23 09:56] robinboening opened #1860 "Price#edit: Neither is current country selected nor can I set a new country"
### Steps to reproduce

#### Case 1: Initially created price
1. Create a product
2. Go to `/admin/products/xyz/prices`
3. Click on the icon to edit the price

#### Case 2: Additional price with certain country
1. Go to `/admin/products/xyz/prices`
2. Create another price and choose "Germany" as the country.
3. Click on the icon to edit this price

### Expected behavior
#### In Case 1:
* I should b

[2017-04-23 10:09] robinboening opened #1861 "Prevent user from deleting the default master variant price"
### Steps to reproduce
1. Create a product
2. Go to `/admin/products/xyz/prices`
3. Delete the one and only price

### Expected behavior
The one and only price should not be deletable.

### Actual behavior
I can just delete the one and only price. When I go back to "product details" I can see its still using that (paranoidly deleted) price as its default price, but I am not able to edit the record

[2017-04-23 14:24] mamhoff opened #1862 "Port Developer Guides to Solidus"
We would like to have better documentation, both for devs and for users. One way to get there is to take existing documentation from before Solidus was forked from Spree and "port" it: Go through the guide in question and adapt screenshots and terminology to Solidus. A few are done already and live in the `/guides` directory in Solidus’ main repository.

- [x] [Shipping](https://https://github.com

[2017-04-24 12:43] kennyadsl commented on #1841
@gaurav945 there's [another endpoint](https://github.com/solidusio/solidus/blob/master/api/app/controllers/spree/api/checkouts_controller.rb#L38-L49) to complete the order via API. Is there anything that deny you to use that one? I think that the logic to check if current state is `confirm` is supposed to be placed where the API is consumed.

[2017-04-24 17:25] #1849 closed

[2017-04-24 17:26] jhawthorn commented on #1849
This is fixed by #1854, which will be included in 2.2.0

[2017-04-25 19:27] sechix opened #1865 "Error reading amazon s3 images in solidus 2.2"
hi all,
I have added aws s3 credentials into my solidus 2.2 . images are sent to aws s3 ok (I have checked my bucket in s3 and are able to display them), but don't  show them in product. The are not read correctly, in fact give me error.
`images:48 Uncaught SyntaxError: Invalid or unexpected token `
I have gem 'aws-sdk', '~> 2.6', '>= 2.6.48' because lower versions give incompatibility errors with

[2017-04-25 20:04] jasonfb commented on #1865
do you know what the full file path is for the pasted partial error:
[code]
?

Is that product_images.rb or some other images.rb file? Is that file in Solidus or in your code? Typically SyntaxError: Invalid refers to your code explicitly (although I could be wrong, I can't remember seeing that error caused by a file upload)

Also maybe try in your file editor to show special characters? Is it poss

[2017-04-25 20:14] sechix commented on #1865
I upload images ok,
![image](https://cloud.githubusercontent.com/assets/24247266/25405463/a906ae90-2a03-11e7-8a9d-49c42a74e392.png)
 but if refresh page don't display nothing:

![image](https://cloud.githubusercontent.com/assets/24247266/25405528/dec038b2-2a03-11e7-83ce-1bde216a8512.png)

In frontend also:
![image](https://cloud.githubusercontent.com/assets/24247266/25405564/f991c0f2-2a03-11e7-919

[2017-04-26 05:42] gaurav945 commented on #1841
@kennyadsl I had completely ignored that endpoint, I am so sorry for that, thank you so much for your help, closing the issue now. :)

[2017-04-26 05:42] #1841 closed

[2017-04-26 07:50] kennyadsl commented on #1841
@gaurav945 don't you worry, I'm happy to be of help!

[2017-04-28 16:56] AndreiMotinga opened #1868 "Can't start solidus on heroku"
### heroku log
[code]

### Expected behavior
It starts and works ok in development but not on heroku

### Gemfile
[code]

[2017-04-28 17:01] softr8 commented on #1868
Try updating Solidus: https://github.com/solidusio/solidus/commit/03a48593b195d3f5e7b87f6cfd2818a5ef25375b

[2017-04-28 17:09] AndreiMotinga commented on #1868
@softr8, that indeed helped, thank you. I should have figured it out myself.
I wasn't expecting it, since I got other app ( new and clean) without this problem, so my guess was that it's cause of some bad data.
I'm guessing, maybe cause this old/broken app has some mailers in it, and other doesn't...

Anyhow, thank you.

[2017-04-28 17:09] #1868 closed

[2017-04-28 17:11] AndreiMotinga commented on #1865
@sechix, post you gemfile and heroku log where result occurs.
also check that you have all the environment variables set properly oh heroku

[2017-04-28 20:28] sechix commented on #1865
This is heroku logs  refreshing page after upload an image in admin ok. In fact the images appears in mu aws s3 bucket:
`  SELECT  1 AS one FROM "spree_assets" WHERE "spree_assets"."type" IN ('Spree::Image') AND "spree_assets"."viewable_id" = $1 AND "spree_assets"."viewable_type" = $2 AND "spree_assets"."type" IN ('Spree::Image') LIMIT $3  [["viewable_id", 41], ["viewable_type", "Spree::Variant"],

[2017-04-28 21:10] AndreiMotinga commented on #1865
in my case, aws settings copied from wiki sorta broke things

in aws settings I changed
[code]
 to
[code]

It might be the case for you too....

Also, since images aren't read,  what is the error in browser console?

[2017-04-28 21:15] jhawthorn opened #1869 "Extract responders to an extension"
Solidus has some custom responders based code to allow overrides. Some stores use this, but not all. It doesn't tightly integrate with anything in Solidus so we should be able to extract it into its own extension with minimal difficulty.

* [core/lib/spree/core/controller_helpers/respond_with.rb](https://github.com/solidusio/solidus/blob/master/core/lib/spree/core/controller_helpers/respond_with.r

[2017-04-28 21:49] shawno opened #1870 "Heroku One-click Deployment fails"
### Steps to reproduce
1. Navigate to https://github.com/solidusio/solidus
2. Click the "Deploy to Heroku" button
3. Use the default configuration offered on the heroku sandbox page
4. Click "Deploy"

### Expected behavior
The app should deploy successfully

### Actual behavior
Build fails with the following log:
[code]

### System configuration
**Solidus Version**: Master branch

**Extensions in

[2017-04-28 23:16] shawno commented on #1870
Tested with v2.2 and got the same retults.

[2017-04-30 17:26] AndreiMotinga commented on #1865
I've just noticed the same problem.  There are no errors.
it seems that images are stored in filesystem instead of being uploaded to aws. I'm not sure how to troubleshoot. Any help?

[2017-05-01 19:44] jhawthorn commented on #1865
I can't reproduce this. In a Solidus 2.2 store with the following paperclip config everything works as expected.

[code]

if images records aren't being created at all there should be a rails error somewhere (or a JS error if it doesn't get that far). If they're being created, but on the filesystem, there is probably a configuration issue, are you sure the `AWS_ACCESS_KEY_ID` environment variable

[2017-05-01 19:48] AndreiMotinga commented on #1865
@jhawthorn, I'm trying to use cdn

[code]
just to be clear, I don't have the setting you mentioned.

[2017-05-02 00:07] jhawthorn commented on #1870
Thanks for the report @shawno. This was broken because our custom buildpack was trying to use the rails 5.1 release, which we're not quite ready for. This should be [fixed](https://github.com/solidusio/heroku-buildpack-solidus-demo/commit/18fa496748e0043ec94187571478199b8146629e) now.

[2017-05-02 00:07] #1870 closed

[2017-05-02 00:17] jhawthorn commented on #1865
I tried with that config and still can't reproduce. Images were uploaded to s3 just fine.

I have to assume this is a configuration issue (either environment, s3 permissions, or something else) and not an issue with Solidus itself. This might be a good conversation for our `#support` channel on slack.

I'm going to close this for now. Please `@mention` me if there are reproduction steps or an erro

[2017-05-02 00:17] #1865 closed

[2017-05-02 09:11] sechix commented on #1865
Hi @jhawthorn the problem is that images are uploaded ok to s3, in fact / are able to display them in my bucket, but problem is that solidus can't read them the after. With cdn are you able to display images after (even uploading is ok)?

[2017-05-02 15:12] jasonfb commented on #1865
@sechix -- this may or may not have anything to do with your problem, but I debugged a nasty issue related to that once that occurred when there was an ```after_save``` hook on the model that read the file into memory before Paperclip did its processing.

For my problem, we would see a zero-byte file when processing it (doesn't sound like the same as your problem). Explanation & fix is here: https

[2017-05-02 15:23] jasonfb commented on #1865
Can you explain what that means in more detail? Specifically, if you right-click on the image in your browser window (where it says "No Image"), what is the URL you are seeing that points to the Image? Is it pointing to the correct image path on the CDN, the S3 bucket, or the default no-image image?

If you then open that image path directly into a new browser window, does it load your image?

If

[2017-05-02 15:51] AndreiMotinga commented on #1865
@jhawthorn, @jasonfb,
http://sparky.md/   - you can login with test@test.com and password

I've just tried and it seems like images on products are loaded properly, while images on taxons are stored in filesystem.

[2017-05-02 15:54] sechix commented on #1865
This error is in production  because it's the environment where I use s3 due to heroku.

However I have tried with paperclip configuration and I get error posting :
`2017-05-02T15:51:18.613728+00:00 heroku[router]: at=info method=POST path="/admin/products/camisa-blanca-con-detalle-leopardo/images" host=pislow-production.herokuapp.com request_id=0978ddd2-321f-4631-bb89-5d3ce364c03f fwd="213.151.11

[2017-05-02 16:49] jasonfb commented on #1865
@sechix -- in config/production.rb, what do you have for the value in

[code]

When I look at http://sparky.md (which appears to be in a language I can't read), right-click on the missing image, it is telling me the image should be at

http://sparky.md/spree/taxons/56/normal/BPR_330CE_HD.jpg?1493587048

that is URL your domain, not the S3 bucket or the CDN. It looks like your asset_host isn't conf

[2017-05-02 16:54] AndreiMotinga commented on #1865
@jasonfb, this is exactly the problem.
when uploadoing images on products - they are stored properly on CDN
for taxons they are stored in filesystem.
works
http://sparky.md/admin/products/li-ion-br2-10-8li-hd/images - admin product images
http://sparky.md/ru/products/li-ion-br2-10-8li-hd  - product page

doesn't seem to be working
http://sparky.md/admin/taxonomies/7/taxons/60/edit -  uploading ima

[2017-05-02 16:57] AndreiMotinga commented on #1865
@jasonfb,
I will definitely try your previous advice on removing cdn, and using aws directly. Will do later today.

[2017-05-02 17:14] sechix commented on #1865
Ok.It was commented:
`  # Enable serving of images, stylesheets, and JavaScripts from an asset server.
  # config.action_controller.asset_host = 'http://assets.example.com'`

Which asset host I have to set: http://pislow.s3-eu-west-2.amazonaws.com ??

[2017-05-02 17:24] sechix commented on #1865
I have just put a host but loose all my stylesheets :( and paperclip doesn't work

[2017-05-02 17:29] AndreiMotinga commented on #1865
sechix, I understand your frustration. I still don't understand how to use cdn with heroku.
Some resources say that cdn should point to your domain, others that is should point to bucket. It's unclear.

If it points to domain, then it won't find images.
if it points to bucket, then you gotta have to have all the assets compiled and uploaded to bucket each time you deploy your app... I didn't find

[2017-05-02 17:38] sechix commented on #1865
Yes @AndreiMotinga it is a little :(  . I don't mind to use paperclip or cdn, I only want to deploy to heroku but heroku needs a storage for images.

Now I have paperclip config:

`if ENV['AWS_ACCESS_KEY_ID']
  Paperclip::Attachment.default_options.merge!(
    :storage => :fog,
    :fog_credentials => {
      :provider => "AWS",
      :aws_access_key_id => ENV['AWS_ACCESS_KEY_ID'],
      :aws_secr

[2017-05-02 17:54] jasonfb commented on #1865
@AndreiMotinga -- you need 2 separate CDNs

For the *paperclip* assets, you store on S3 and the point the CDN to that Bucket (will end with amazonaws.com). You must do this for the paperclip assets because on Heroku you cannot store them on the file system.

For the internal assets, which live in your app under ```app/assets/``` (or under ```public/``` if you want them outside of your rails app),

[2017-05-02 17:55] jasonfb commented on #1865
For configuring Paperclip to use S3, see this doc:

[2017-05-02 18:03] jasonfb commented on #1865
@AndreiMotinga

This was the way we did things before 2013, for a pre-Rails 4 app. Back then (pre-Rails 4), we used to use a gem called asset_sync. That's what the old blog posts are referring to. Do not believe them, that is no longer the recommended way.

If you do however do that, you use asset_sync to upload your in-app assets to your bucket during slug compilation (see https://github.com/Asse

[2017-05-02 18:07] gcmartins93 opened #1873 "Solidus as API only"
What if I want to use solidus as an API Server and code the frontend by myself? I don't need to use the solidus gem itself, right? Instead I tried to use solidus_api gem, but have got errors while trying to install solidus_auth_devise.

I found that I can use devise_token_auth to create and authenticate user by myself and override solidus user by using spree generator `spree:custom_user ` and defi

[2017-05-02 18:22] sechix commented on #1865
Sorry, but I am a little confused. As a summary, to connect solidus with store s3:

In production.rb:
`config.paperclip_defaults = {
  :storage => :s3,
  :bucket => ENV["S3_BUCKET_NAME"]
}`

Create aws.yml with:
`production:

  access_key_id: ENV['AWS_ACCESS_KEY_ID']
  secret_access_key: ENV['AWS_SECRET_ACCESS_KEY']`

Add create paperclip.rb with:
`if ENV['AWS_ACCESS_KEY_ID']
  Paperclip::Attachme

[2017-05-02 18:48] sechix commented on #1865
Now crushed due to favicon.
There is a way to store both app assets (as favicon) and products images in s3. Could you detail steps as a summary? sorry and thanks for your help, but I only need clarify steps to connect all assets with s3. The guidelines not are clear, and it is confusing.

[2017-05-02 19:43] AndreiMotinga commented on #1865
@jasonfb,  Thank you for such detailed response, it actually cleared something for me.
 In general, the approach you described is the one I use.  I think my confusion originated from
"enabling serving static files" on heroku was somewhat of a "not the appropriate way of doing things", yet I couldn't figure out, how can you do it, if those are disabled...
It never occurred to me, that you could use

[2017-05-02 20:04] AndreiMotinga commented on #1865
@jhawthorn,  with this
[code]

we update keys on Spree::Image, however Taxon is not setup properly.
spree/taxons.rb
[code]

So Taxon should probably be configured as well? any other models?

[2017-05-02 20:09] AndreiMotinga commented on #1865
@jhawthorn, should wiki be updated with
[code]

?

[2017-05-02 20:22] AndreiMotinga commented on #1865
sechix, join solidus slack.  if you want to, I'd be happy to help you if I can.

[2017-05-02 20:37] sechix commented on #1865
perfect, I am in 👍

[2017-05-03 03:55] AndreiMotinga opened #1874 "Extracting Spree::ProductProperty.value into Spree::PropertyValue"
### Steps to reproduce
Morning guys.
[Here's a pretty much default solidus app with solidus_globalized installed and working
](https://am-solidus-default-store.herokuapp.com/)
[code here](https://github.com/AndreiMotinga/am-solidus-default-store)
You can login with default solidus credentials, admin@example.com and test123

Currently, we can create translations. Products, Taxonomies, etc work ok.

[2017-05-03 19:48] sechix opened #1875 "2.3.0.alpha field product images upload error"
Hi, I have problems trying to upload images to products. After researching I realized that in a specific variant image uploading works but not in variant all.
It's due to field of spree_assets table 'viewable_id' is 0 in variant all and not in specific variant.
I saw that file 'solidus/backend/app/assets/javascripts/spree/backend/images/upload.js' has been modified, maybe there is somwthing wrong

[2017-05-03 19:59] sechix commented on #1875
Confirmed !!! Is in 2.3.0.alpha, in 2.2 works ok.

[2017-05-03 20:21] jhawthorn commented on #1875
Thanks @sechix, taking a look now

[2017-05-03 21:13] jhawthorn commented on #1875
I believe this will be fixed by #1876

[2017-05-03 21:19] jhawthorn commented on #1873
Hi @gcmartins93 we do have a pluggable model for users for situations like this. However the api currently only accepts the `spree_api_key` column value, not the tokens from `devise_token_auth`.

Could you report whatever errors you ran into to the [solidus_auth_devise issue tracker](https://github.com/solidusio/solidus_auth_devise/issues). We do intend that it can be usable without the frontend o

[2017-05-03 21:19] #1873 closed

[2017-05-04 09:35] spaghetticode opened #1881 "Solidus codebase has many dynamic finders"
I am having issues integrating the `solidus_globalize` gem, issues that are related to the presence in solidus codebase of many dynamic finders such as `find_by_permalink!`, `find_by_name!` and so on, which as far as I know are/will be deprecated in rails.

I am only a beginner with solidus and its ecosystem, but I think that those finders should be replaced with on of these types of code:
[code]

[2017-05-04 09:50] tvdeyen commented on #1881
👍

First step taken by https://github.com/solidusio/solidus/pull/1880

[2017-05-04 18:53] AndreiMotinga commented on #1881
I'd like to take a stab at it. Since I'm just starting out with open source,  any advice or guidance on how I should approach this would be appreciated.

[2017-05-04 20:10] jhawthorn commented on #1881
These are *not* deprecated and there's no indication that they ever will be (quite the opposite). It is a misconception because some other dynamic finders were removed from rails (ages ago in rails 4.0).

From [activerecord-deprecated_finders README](https://github.com/rails/activerecord-deprecated_finders/blob/master/README.md):

So it is a globalize bug (globalize/globalize#423) and it should be

[2017-05-04 21:13] AndreiMotinga commented on #1881
I agree, it makes sense. However, in this particular case, the change required is very simple and won't change anything about the solidus, other than make it slightly more flexible.

Plus, even when some other translation project will appear, will it face the same problem ?

[2017-05-05 08:59] spaghetticode commented on #1881
@jhawthorn thanks for the insight.

As you correctly wrote those dynamic finders are not actually deprecated *right now*, but according to https://github.com/rails/rails/blob/master/activerecord/lib/active_record/base.rb their usage is already sort of discouraged:

[code]
I still see replacing __mildly deprecated__ code an improvement, however small it might be, with the immediate bonus that the *

[2017-05-05 14:36] AndreiMotinga commented on #1874
So it's been 2 days, any reflection on this?

[2017-05-05 15:23] gcmartins93 commented on #1873
## Steps to reproduce

1. Create a rails 5 api only project;
2. Add solidus_api and solidus_auth_device
3. Run the spree generator `bundle exec rails g spree:install`
### output
[code]

If I remove devise_auth_devise from Gemfile, than the [generator runs](http://imgur.com/KCK0cyx), but, it creates vendor assets - that I guess it should not.

Any clue?

[2017-05-05 20:41] gcmartins93 commented on #1286
Does it still unsolved?

[2017-05-07 23:20] cd-rum opened #1891 "Release 5.1 fails on bundle update/bundle install"
### Steps to reproduce
Make a new Rails 5.1 app. Add the two solidus gems. `bundle install` and `bundle update` both fail.

### Expected behavior
The gems should install.

### Actual behavior
This is the output of `bundle install`:

[code]
And this is the output of `bundle update`:

[code]

### System configuration
**Solidus Version**: Unspecified/latest.

**Extensions in use**: None.

[2017-05-08 12:01] mtomov commented on #1891
Right, 5.1 compatibility is still in preparation I think, see the [Rails 5.1 milestone](https://github.com/solidusio/solidus/milestone/12) on it:

And your concrete problem with Canonical Rails is likely to have been addressed by this one: https://github.com/solidusio/solidus/pull/1885, so might give it a try using the github master branch in your Gemfile.

[2017-05-08 17:38] jhawthorn commented on #1891
Rails 5.1 support is still a work in progress. Closing for #1788

[2017-05-08 17:38] #1891 closed

[2017-05-08 21:09] mamhoff opened #1894 "Taxation without adjustments"
Currently, we use the `Spree::Adjustment` model to save taxation data on line items, shipments and orders.

Adjustments have issues:

* They store labels in the database, making them hard to use across different locales
* They need a `source` and are recalculated every time the order changes. For taxation, that's not so desirable as we are moving towards doing taxation for the order all in one go.

[2017-05-08 22:59] jhawthorn opened #1897 "Fix migrate_credit_cards_to_wallet_payment_sources.rb"
In [migrate_credit_cards_to_wallet_payment_sources.rb](https://github.com/solidusio/solidus/blob/6562e4c7d23ac2a387c8ed38582d5268ef30b8fb/core/db/migrate/20160420181916_migrate_credit_cards_to_wallet_payment_sources.rb) we need to either declare the `payment_source` polymorphic association on `WalletPaymentSource` or explicitly set the `type` and ID of credit cards

[2017-05-09 08:46] mamhoff opened #1899 "Use Rails i18n for promotion rules"
Currently, we use a custom `i18n` namespace to provide user-friendly names for promotion rules and actions. This should be changed to use the classical `rule.model_name.human` syntax for short class names and descriptions.

[This line](https://github.com/solidusio/solidus/blob/master/backend/app/helpers/spree/promotion_rules_helper.rb#L6) for example could be done using `model_name.human` perfectl

[2017-05-09 19:17] #1897 closed

[2017-05-09 19:18] #1875 closed

[2017-05-09 21:59] jhawthorn opened #1901 "Support testing with other Capybara drivers"
Currently our test suite only passes when using phantomjs/poltergeist.

When I originally converted us over (spree/spree#4383) it supported both poltergeist/phantomjs and selenium/firefox, but we've since accidentally added/changed some specs which now break outside of poltergeist.

Since [phantomjs's future is uncertain](https://groups.google.com/forum/#!topic/phantomjs/9aI5d-LDuNE) and has the [

[2017-05-11 04:47] gaurav945 opened #1902 "Unable to transition order state to an older state via API"
### What is happening
Lets say the order number "R398140812", is in "confirm" state. I want to transition back to "delivery" state. So, I make a PUT call to "api/checkouts/R398140812", with the body as {"state" : "delivery"}, but the state is getting set to "payment" & not "delivery".

### What should happen instead
There's a before_action for next, advance, update & complete, by the name of "upda

[2017-05-11 15:09] spaghetticode opened #1903 ""Show Deleted" checkbox in /admin/products doesn't stay checked when appropriate"
When filtering products in the admin page the checkbox `Show Deleted`, if checked, doesn't remain checked after form submission.

This causes also a problem with pagination, you can't reach any other page expect the first with deleted products.

[2017-05-11 15:51] spaghetticode commented on #1903
The reason is due to the following code in `backend/app/controllers/spree/admin/products_controller.rb:105`:
[code]
I would change it as follow:
[code]
before opening a new PR with my changes I would like to ask you if there's a good reason for deleting `deleted_at_null` from `params[:q]` in that line. Thanks!

[2017-05-11 20:44] mtomov commented on #1903
https://github.com/solidusio/solidus/commit/de2065b seems to be the commit to introduce the `delete()`. I guess if you are up for writing a test for this behaviour, there's nothing to stop you from making that change.

Actually, isn't it possible to directly use the `ransackable_scopes` to allow this `with_deleted` https://github.com/activerecord-hackery/ransack#using-scopesclass-methods

[2017-05-12 08:44] spaghetticode commented on #1903
@mtomov I'm not sure I completely understood your last sentence. Did you mean that, instead of using `deleted_at_null` we may use a (new?) scope on the model, which we also use as a ransackable scope, and then we also change the param name on the `erb` view?

Anyway, I choose the simplest path for my PR: remove the `delete` method call. I also added a simple controller spec for it.

[2017-05-12 10:58] spaghetticode commented on #1903
@mtomov with a little help from @kennyadsl I think I finally got your point. I am working on a new implementation that uses ransackable scopes, which has the extra benefit of tidying up a bit the code in the controller. I think that's an improvement over my first version, so I will update my PR ASAP. But if you don't prefer the new version then I can still go back to the first proposal ;)

[2017-05-12 11:46] mtomov commented on #1903
Sure, take your time.

I'm just not sure if you will be able to capture the existing bug of the "not-checked" checkbox after searching with a `controller` test. Maybe a `feature` test might do one better.

[2017-05-12 14:33] spaghetticode commented on #1903
Thanks for the suggestion, I've just added also an expectation in an existing feature spec as well.

[2017-05-13 19:03] AndreiMotinga commented on #1874
:)

[2017-05-15 08:54] bbuchalter opened #1907 "`uninitialized constant Spree` when invoking `common:test_app` Rake task"
I'm attempting to write a new Solidus extension but cannot get the dummy app to run database migrations via the `common:test_app` Rake task. The migration works as expected when run directly from `spec/dummy`.

### Steps to reproduce
[code]

### Steps to workaround
[code]

### Expected behavior
Expected database migrations to run after dummy Solidus app was created.

### Actual behavior
[code]

##

[2017-05-16 06:56] gaurav945 commented on #1902
@kennyadsl some help, please...

[2017-05-16 07:42] kennyadsl commented on #1902
Hey there, I'm not sure this kind of state change is allowed via current API, anyway you could try to workaround this by using the [/orders/ endpoint](https://github.com/solidusio/solidus/blob/master/api/app/controllers/spree/api/orders_controller.rb#L51-L63). You can even try to build your own endpoint in the api/checkout controller that does the same as update but without triggering the `order.n

[2017-05-16 08:20] gaurav945 commented on #1902
Thanks for the quick reply, I have a follow up query, which is, then how to handle the following scenario :

Suppose, I have a web app, which uses Solidus APIs & the flow is similar to Solidus's flow. Now, let's say that I am on the confirm your order page, but I would like to go back & change my shipment provider, then how will I do that then, without transitioning the state ?

[2017-05-16 08:53] kennyadsl commented on #1902
what about going one step back, for example moving to address if you have to go to address + 1 (delivery)? I think it's better moving this conversation on solidus slack #support channel, ok?

[2017-05-16 08:56] gaurav945 commented on #1902
Okay & I am sorry for any inconvenience caused, I am actually new to all this, raising issues on github & such technical stuff, so I didn't know what would be the right place to discuss these kind of things.

[2017-05-16 08:56] #1902 closed

[2017-05-16 15:11] jordan-brough commented on #1252
PR #1892 from @adammathys gets us nearly there I think. After that I'd just like to finalize what the interface should be exactly and call this done.

[2017-05-17 00:08] bradwbradw opened #1909 "selected_shipping_rate is different in API data than in solidus admin view"
### Steps to reproduce
- environment must be production
- set up two shipping methods, both with 0 cost
- create a new order, add something to cart, and set the shipping address
- ensure both methods are available to select on this order.
- use the api to change the shipping method to the other available method.

Here is a template to use to set the shipping method:

- PUT `http://localhost:3000/a

[2017-05-17 09:07] husam212 opened #1910 "Heroku one-click deploy not working"
### Build log
[code]

[2017-05-17 19:06] quesurifn opened #1911 "Cannot generate api key"
When I log into admin, the option to generate an API key is there but they key is hidden.

How do I get my api key?

[2017-05-18 12:47] alepore commented on #1874
Hi, thanks for your contribution!

First of all, this will need some discussions about if/how/where to do this thing, so if you urgently need this on your project, please implement it on your codebase.

So the issue is: if you have thousand of products with a property like `Color => white`, you translate "Color" once, and "white" thousand of times. Right?
This actually makes sense if you think at

[2017-05-19 08:21] jordan-brough opened #1912 "Remove ActiveMerchant dependency from Solidus"
I don't see a reason to [require ActiveMerchant in Solidus](https://github.com/solidusio/solidus/search?utf8=%E2%9C%93&q=ActiveMerchant&type=) and it seems like it would make other billing integrations easier if we provides our own classes for errors/responses/etc.

[2017-05-19 08:33] jordan-brough opened #1913 "Remove order-level adjustments from core Solidus"
Order-level adjustments are not first-class citizens in Solidus.  Can we get rid of them?

Some of the problems:

- Taxes don't work correctly when they are present
- They have unexpected side effects for promotions.  E.g. by default Solidus chooses one promotion to apply per line item, but if you apply an order promotion than a single item can be discounted twice.
- They make analytics and attrib

[2017-05-19 08:44] jordan-brough commented on #1913
Here's a few first ideas on TODO items for accomplishing the above:

- [ ] Reimplement `Spree::Promotion::Actions::CreateAdjustment` to generate line-level adjustments
- [ ] Allow having Admin adjustments at the line level (see #1274)
- [ ] Figure out what to do about existing order-level adjustments.  Write a tool for migrating them?  Continue to support but deprecate them?  Move support into an

[2017-05-19 09:00] jordan-brough opened #1914 "Move shipments.stock_location_id to shipping_rates.stock_location_id"
As a store with multiple stock locations, I ought to be able to present the customer with shipping rate options like this:

- Ground shipping (shipped from London)
- 2nd day air (shipped from New York)
- Same day delivery (shipped from Salt Lake City)

The bits in `(...)` wouldn't be shown to end users of course.

That is, each shipping rate ought to be able to come from a different stock location

[2017-05-19 09:42] tvdeyen commented on #1912
💯✖️👍

[2017-05-19 09:56] bbuchalter commented on #1913
I agree this is a noble goal, but is likely a big breaking change for many, many stores. Would need to be part of a major version bump and a lot of care given to a sane upgrade path. Nonetheless, 👍 .

[2017-05-19 14:20] jasonfb commented on #1913
I wonder if there's a way to bridge the old-and-new paradigms:

An "order level adjustment" that *looks* to the customer & business as-if it is applied at the "order" level, but then there is a calculation of how much was discounted per line item.

In fact, I'd even go so far as to suggest two "promo_total" fields on the line items — One for the existing line-item adjustments, and a 2nd one that k

[2017-05-22 08:12] swively commented on #1899
On it!

[2017-05-22 08:28] jhawthorn commented on #1912
One of the few things preventing this is our use of [`ActiveMerchant::Billing::Response`](https://github.com/solidusio/solidus/search?l=Ruby&q=ActiveMerchant&type=&utf8=%E2%9C%93). We can probably introduce our own class, which quacks the same way (duplicate the interface it has with duck-typing)

[2017-05-22 08:29] graygilmore commented on #1812
I'll have a look at this one.

[2017-05-22 08:38] mamhoff commented on #721
@acreilly is working on this!

[2017-05-22 08:39] Dkendal commented on #1912
I'm going to take a stab at this

[2017-05-22 08:39] mamhoff commented on #438
@acreilly is working on this

[2017-05-22 08:44] Reddshift commented on #1862
Going to working on this for Hack days - starting with Products and Variants at @mamhoff 's recommendation.

[2017-05-22 09:17] BravoSimone commented on #1502
Working on it! 👍

[2017-05-22 09:18] seand7565 commented on #438
An admin would still have the ability to change the email associated with the account and then trigger the email reset - essentially giving them the ability to change the password. Should the ability to change a users email also be disabled? I can't think of too many use cases in which you'd need to change a users email. @acreilly

[2017-05-22 09:19] Dkendal commented on #1912
As far as I can see this requires:
- Replace ActiveMerchant::BillingResponse
- Replace ActiveMerchant::ConnectionError
- replace usages for ActiveMerchant::Billing::Base??

Not sure yet what `ActiveMerchant::Billing::Base` is used for, I can only find assignments to it, never anything reading from it, including, or extending the module.

[2017-05-22 09:22] seand7565 commented on #1654
@flyfy1 @mamhoff Having trouble replicating this issue. I've done the following:

Changed the tax rate to "include in price"

![image](https://cloud.githubusercontent.com/assets/5720486/26301141/2ca7bd3c-3ed8-11e7-9819-4cebacf9e36d.png)

Created a product with multiple variants and assigned it the tax category

![image](https://cloud.githubusercontent.com/assets/5720486/26301178/45c0b256-3ed8-11e7

[2017-05-22 09:23] jordan-brough opened #1916 "Tax adjustments aren't updated on completed orders"
Existing tax adjustments aren't updated if an order is changed after it is complete.  This is because [we call `Adjustment#update!`](https://github.com/solidusio/solidus/blob/v2.2.1/core/app/models/spree/tax/item_adjuster.rb#L36) which quits if the adjustment is finalized (which happens automatically when an order completes).

[2017-05-22 09:26] ericsaupe commented on #438
The only time I could think that an admin would _need_ to be able to change the email address is if the user no longer has access to that email and would need their password changed. New account is the path there maybe?

[2017-05-22 09:41] laurawadden commented on #1604
on it :)

[2017-05-22 09:41] seand7565 opened #1919 "Empty Cart does not remove coupon code from order"
### Steps to reproduce
Create promotion of any kind
Add product to cart
Add promotion to cart
Empty cart
Add product to cart

### Expected behavior
There should be no promotions active

### Actual behavior
The previously entered promotion is still active

### System configuration
**Solidus Version**:Any

**Extensions in use**:None

[2017-05-22 09:45] omnistegan commented on #1869
I haven't written an extension yet, so I'm going to tackle this. :)

[2017-05-22 09:47] seand7565 commented on #1919
This should be fixed by changing these lines in models/spree/order.rb from:

`    def empty!
      line_items.destroy_all
      adjustments.destroy_all
      shipments.destroy_all

      update!
    end`

to
`    def empty!
      line_items.destroy_all
      adjustments.destroy_all
      shipments.destroy_all
      promotions.destroy_all

      update!
    end`

Will test and PR

[2017-05-22 09:50] gus4no commented on #1737
Working on this. 👷

[2017-05-22 09:51] #1654 closed

[2017-05-22 10:03] jordan-brough commented on #1914
@alexstoick is working on this

[2017-05-22 10:18] mamhoff commented on #1912
If it isn't used and you can remove it from core without anything breaking, remove it.

[2017-05-22 10:44] acreilly commented on #438
@ericsaupe Lets say the data associated with that account is important to the user though, I think keeping the ability to change the email would be helpful. It isn't a common scenario, so if we really want to take it out, I guess a developer can go into the console and change it. What do you think?

[2017-05-22 10:46] ericsaupe commented on #438
Yeah, that's what I was thinking too. For our customer service reps I know they would be really angry if we simply told them to tell users to create a new account and lose all of their order history, saved cards, etc. Probably best to leave the ability to change emails in and let individual stores change that if they need to.

[2017-05-22 11:29] gus4no commented on #1653
Working on it

[2017-05-22 11:58] kennyadsl commented on #1811
I'm on this one!

[2017-05-22 12:11] gus4no commented on #1653
Hello @flyfy1 what version of solidus are you using? I could not reproduce this on v2.2

[2017-05-22 12:26] flyfy1 commented on #1653
@gus4no it has been a while since last time I develop in solidus.. I was probably on Solidus Master at that time.. Let me try on v2.2 and see how

[2017-05-22 12:37] gus4no commented on #1131
Working on it 👷

[2017-05-22 12:39] flyfy1 commented on #1653
The issue is gone with solidus 2.2.1

Thanks for reviewing issue again.

[2017-05-22 12:39] #1653 closed

[2017-05-22 12:51] softr8 commented on #1437
On it

[2017-05-22 12:56] mtylty commented on #1704
I was unable to reproduce this bug.

I made everything work by adding the code like so:

`config/routes.rb`:
[code]

`spree/admin/models_controller.rb`:
[code]

Configuration for the additional menu item:
[code]

And everything pretty much worked like expected. @digitalWestie could you try this configuration and see if you still get the unexpected behavior?

[2017-05-22 12:57] Dkendal commented on #1912
https://github.com/solidusio/solidus/compare/master...Dkendal:feature/remove-active-merchant?expand=1

Current branch.

[2017-05-22 13:00] acreilly commented on #438
It doesn't appear that we use this view: https://github.com/solidusio/solidus_auth_devise/blob/master/lib/views/backend/spree/admin/user_passwords/edit.html.erb

Does having the reset_password_token increase security? Or do we just want to stick with adding the Send Reset Password Email button

[2017-05-22 13:06] AlessioRocco commented on #568
Working on it!

[2017-05-22 13:07] ericsaupe commented on #438
It looks like it is required in the Devise method, https://github.com/plataformatec/devise/blob/master/app/controllers/devise/passwords_controller.rb#L32. I think it is simply for resetting the password through the controller but the issue here is to remove the change password form all together to simply send the reset email. So if it's not used it could probably be removed all together.

[2017-05-22 13:33] ericsaupe commented on #1286
@gcmartins93 this is still unresolved. I just tested it using the original steps and came up with the same error.

[2017-05-22 13:35] Dkendal commented on #1912
@mamhoff any thoughts on how to rectify the interface with solidus_gateway?

All results that come back from gateway are handled in `core/app/models/spree/payment/processing.rb`, I was thinking of checking the type of the result and presenting a deprecation notice if it's an `ActiveMerchant::Billing::Response`.

Thoughts?

[2017-05-22 13:37] graygilmore commented on #1913
Just as a heads up, currently working on allowing TieredFlatRate to be using as a line item level adjustment as a part of https://github.com/solidusio/solidus/issues/1812

[2017-05-22 13:47] Mandily opened #1928 "Improve the UI on the orders/new payment screen"
I'd like to suggest a few upgrades and layout changes to the "New payment" screen to improve the usability of the page. (The red dotted lines in the wireframe are boundaries to the main content area and sidebar)

1. Display "Update" button in header and at bottom of page for easy access

2. Change radio buttons into a dropdown. This will help keep the user focused on which option they've chosen as

[2017-05-22 14:06] vladstoick commented on #1857
I will start working on this

[2017-05-22 14:16] mtylty commented on #1857
@vladstoick I'm working on this as well, would you mind splitting the work? We could work on `solidus_core` and `solidus_backend` separately.

[2017-05-22 14:17] vladstoick commented on #1857
@mtylty I think this one might be easier if just one person works on it so I can let you work on it if you already started working

[2017-05-22 14:18] acreilly commented on #438
@ericsaupe I'm not sure if you are here today... but if you are would you mind helping me for a second? I am pretty easy to spot out in the room hah..

[2017-05-22 14:22] mamhoff commented on #1928
Hm, I'm not sure we need the billing address on the payment screen. We already have it on the Customer Details screen, don't we?

Also: I'm missing the ability to use an existing payment source (credit card). Maybe it makes sense to make that one of those [tiered select boxes](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup)?

[2017-05-22 14:26] ericsaupe commented on #438
Of course! I'm next to that @skukx purple faced guy from that other PR. I'll come find you in a second.

[2017-05-22 14:57] mamhoff commented on #1286
Seems like this issue is still up for grabs!

[2017-05-22 15:25] mamhoff commented on #438
Why don't you let customer support change the email address and then send out a password reset token?

[2017-05-22 15:29] alexstoick commented on #1913
Tackled one part of this in #1933

[2017-05-22 15:39] Dkendal commented on #1912
#1935

[2017-05-22 15:49] ericsaupe commented on #438
@mamhoff good idea. This task seems to be to add that ability to send the password reset using the admin.

[2017-05-22 16:19] Reddshift commented on #1862
@mamhoff here is my pull request for Products and Variants - let me know what you think.  All feedback is welcome, wanting to make this as clear and helpful as possible.

https://github.com/solidusio/solidus/pull/1939

[2017-05-23 08:26] #1812 closed

[2017-05-23 08:30] jordan-brough commented on #1913
💯

Hm, this adds some low-level Solidus complexity that I think would be nice to avoid unless we really need it.

My understanding from working and talking with Avalara was that the line-level `amount` field is supposed to represent the discounted amount, not the full amount. And that the order-level `discount` amount is provided for convenience.

[2017-05-23 08:59] Reddshift commented on #1862
Starting on the Shipping documentation.

[2017-05-23 09:10] #991 closed

[2017-05-23 09:30] #1916 closed

[2017-05-23 09:32] #1726 closed

[2017-05-23 09:52] f3lan commented on #1724
Working on it 😸

[2017-05-23 10:10] MFRWDesign commented on #931
@mfrwdesign is working on this

[2017-05-23 10:29] gus4no commented on #1286
Nice challenge I'll try it!

[2017-05-23 11:02] dividedharmony commented on #610
Working on it!

[2017-05-23 11:25] gus4no commented on #1321
On it

[2017-05-23 11:34] softr8 commented on #1859
The problem happens when the product does not have `Spree::Config.default_pricing_options.currency` in its [prices](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/price.rb#L25), not sure if the fix would be preventing users to update the currency in `/admin/products/xyz/prices/xx/edit` or add an extra flag to prices list specifying which one is the default, what do you thin

[2017-05-23 12:11] BravoSimone commented on #1502
I've made a dump right after the migration, and after the reset.
I'm adding the "after migration dump" marked on what to me should be added and what not.
[code]
What do you think about it?

[2017-05-23 12:34] ericgross opened #1946 "Allow customization of the promotion seperator"
Rather than always separating the promotion base with an underscore, allow the character to be changed without opening up the class.

[2017-05-23 12:53] jhawthorn commented on #1604
@mbreedlove We tried removing the required field, but it introduced further wrong behaviour. It would take the empty string assigned to `price=` and consider that a new price of `0`.

I haven't run a store with this value set, what is the desired behaviour?

[2017-05-23 13:10] tvdeyen commented on #1502
Thanks for the work on this. This is very much appreciated.

I think we should actually put only the bare minimum of what's needed to get a store up and running into the seeds. And most importantly we should copy the seeds over to the seeds file of the host app, in order to be able to change things before seeding. Lots of stores may not using all of these return reasons for instance.

This means w

[2017-05-23 13:20] mamhoff commented on #1859
@softr8 We used to have an `is_default` boolean on prices that we removed because it was not clear what kind of `default` that would mean.

The master price is defined to be of the configured default currency for admins. If that price is empty, the form should still render with the default currency, and an empty master price.

[2017-05-23 13:22] gmacdougall commented on #1919
This has been resolved by #1932

[2017-05-23 13:22] #1919 closed

[2017-05-23 13:24] #1874 closed

[2017-05-23 13:26] #1909 closed

[2017-05-23 13:36] laurawadden commented on #1861
working on it

[2017-05-23 13:38] Mandily commented on #1702
A few suggestions as to carrying out the points above:

- Add hint to "advertise": Instead of adding a hint, let's remove this from the admin. It's not worth the real estate or edge case of advertising a promotion on a specific page to keep. I had a chat with @jhawthorn and he's agreed.
-  Add hint to actions and rules:
-  Allow promotion action fields to update the promotion by enter key
-  Align

[2017-05-23 14:09] jordan-brough opened #1957 "Round by currency fractional digits rather than by 2 digits"
In places like [this](https://github.com/solidusio/solidus/blob/v2.2.1/core/app/models/spree/calculator/flat_percent_item_total.rb#L8) we have code like this:

[code]

The `round(2)` should really round by the number of fractional units for the order's currency.  E.g. `JPY` has no fractional units and we should round to whole numbers.

[2017-05-23 14:11] Mandily opened #1958 "Give users a way to remove the message bar from the style guide"
### Steps to reproduce
- Scroll down to the [flashes section](http://localhost:3000/admin/style_guide#flashes) of the style guide
- Click on any of the buttons
- See the resulting banners persist on the page until it's refreshed

### Expected behaviour
- Give the user a button to "Close open flash messages"
- Each type of flash message should only appear once

<img width="1264" alt="screen shot 20

[2017-05-23 14:24] Mandily commented on #1702
With regards to the point "Add hint to "advertise"" Instead of adding a hint, let's remove this from the admin. It's not worth the real estate or edge case of advertising a promotion on a specific page to keep. I had a chat with @jhawthorn and he's agreed.

Two of these items are big enough I think they can be broken out into their own issues. I'll create a separate one that will include a wirefra

[2017-05-23 14:25] Mandily opened #1960 "Improve text in "new promotions" form for better usability"
Related to the improvements in #1702, there's some improvements to the language used on the promotions form that will make it more intuitive for users to use.

- [x] Remove the "General" title from the top of the page. It doesn't add any value to the page, and takes up extra room.
- [x] Add info text to the description "Limit of 255 characters" - Bonus points if we can add a character counter to t

[2017-05-23 14:41] Mandily commented on #1928
My bad, I was looking at some functionality on an address form on another site and got muddled when I was making this wire. This is more what I had in mind:

![payment option1](https://cloud.githubusercontent.com/assets/15271353/26359636/e2b8a15e-3fcd-11e7-98a7-d856e34fe944.png)

Thinking on it again today, I did come up with another option.
Alternatively we could also put that form into a modal.

[2017-05-23 14:56] dgra commented on #1957
I can take this.

[2017-05-23 15:05] mtylty commented on #1958
Will PR shortly.

[2017-05-23 15:07] MFRWDesign commented on #1960
@mfrwdesign is working on this

[2017-05-23 15:12] dividedharmony commented on #1794
This didn't have the Solidus Hackathon label, but I thought it was simple enough, so I put in PR #1965 if this issue is still relevant

[2017-05-23 15:23] jtapia commented on #1201
@oojewale https://github.com/solidusio/solidus/pull/1963

[2017-05-23 17:41] bradwbradw commented on #1909
thanks for the quick fix @gmacdougall !

[2017-05-24 07:48] bbuchalter commented on #1946
I just got a comment from my marketing team about making changes to this. 👍

Extra points if it's administerable.

[2017-05-24 10:40] Reddshift commented on #1862
@mamhoff created a pull request for the Shipping guide: https://github.com/solidusio/solidus/pull/1966

Since Clarke just announced Stembolt would be hiring a technical writer to do documentation, should I or others continue working on these?

[2017-05-24 13:06] mamhoff commented on #1862
I think it's good to port existing docs and have something. The technical writer will probably change things, but let's just iteratively move forward on this. Thank you!

[2017-05-25 03:10] hf2186 opened #1968 "Credit is missing in API payments controller"
### Steps to reproduce
https://yourdomain.tld/api/orders/[ORDER_ID]/payments/[PAYMENT_ID]/credit?amount=[CREDIT]

Looks like somewhere this was deleted but I am not sure why.

### Expected behavior
Credit is given to customer for that amount.

### Actual behavior
Method not found

### System configuration
**Solidus Version**:
2.2
**Extensions in use**:

[2017-05-25 22:45] brchristian opened #1971 "Document or deprecate use of HTTP_SPREE_STORE header"
I have noticed three(!) SQL calls related to `Spree::Store` on every single pageview and wondered what was going on...it seems excessive.

<img width="1055" alt="screen shot 2017-05-25 at 3 37 48 pm" src="https://cloud.githubusercontent.com/assets/2460418/26473491/8851ac44-4160-11e7-9744-9910e45823b0.png">

The culprit is [this line](https://github.com/solidusio/solidus/blob/master/core/lib/spree/

[2017-05-25 23:00] brchristian commented on #1971
e.g., perhaps this can be extracted into https://github.com/solidusio/solidus_multi_domain?

[2017-05-26 21:45] #1836 closed

[2017-05-27 14:04] mamhoff commented on #931
The imagemagick dependency is now included in the README, thanks to @MFRWDesign . Thanks to you, we can now close this long-standing issue.

[2017-05-27 14:04] #931 closed

[2017-05-27 17:43] mamhoff commented on #1903
Fixed via #1904

[2017-05-27 17:43] #1903 closed

[2017-05-27 22:46] bbuchalter commented on #1657
There doesn't seem to be any further comment here.

[2017-05-27 22:46] #1657 closed

[2017-05-27 22:46] bbuchalter commented on #1674
I think we've reached the end of useful conversation here.

[2017-05-27 22:46] #1674 closed

[2017-05-27 22:47] bbuchalter commented on #1907
I was able to take a different approach to creating an extension.

[2017-05-27 22:47] #1907 closed

[2017-05-27 23:23] bbuchalter opened #1973 "Cannot run core test suite locally for v1.3.0"
This may be a bundler issue, but it is preventing me from effectively upgrading from v1.2.0 to v1.3.0, so I thought I'd file the issue here and see what we can figure out.

### Steps to reproduce
[code]

### Expected behavior
`bundle exec rake test_app` runs successfully

### Actual behavior
[code]

### System configuration
**Solidus Version**: 1.3.0

**Extensions in use**: none

[2017-05-27 23:30] bbuchalter commented on #1973
This also happens with a more stripped down `./bundle/config` file:
[code]

It's also worth noting this happens when there is no `~/.bundle/config` adding further options. Here is the output of `bundle config`:
[code]

[2017-05-28 11:05] bbuchalter commented on #568
@AlessioRocco what progress have you made here? I also started looking at this.

As I investigated further, I came to think more and more that FactoryGirl may not be the right tool for us. Take for example, the simple act of adding a line item to order. Using FactoryGirl to `build` or `create` a line item for that order makes no sense as that's the job of `OrderContents#add`.

Now if we don't care

[2017-05-30 09:29] bbuchalter opened #1979 "Order Factory does not assign shipping method correctly"
### Steps to reproduce
See [failed tests](https://circleci.com/gh/TommyJohnWear/solidus/66) added by https://github.com/TommyJohnWear/solidus/commit/e82127784a70d033af9268c01df43869778134dc

### Expected behavior
Tests should pass because the shipping method was assigned to the shipments.

### Actual behavior
The shipping method is not assigned to all shipments.

### System configuration
**Solidus

[2017-05-30 14:55] bbuchalter commented on #135
@jordan-brough do you believe this is still an issue that should remain open?

[2017-05-30 15:00] bbuchalter commented on #244
Now that #240 is merged, is there any reason we can't remove `Admin::Search`?

[2017-05-30 16:38] dholdren commented on #908
Closing, this is no longer happening.

[2017-05-30 16:38] #908 closed

[2017-05-30 16:55] bbuchalter commented on #244
Firing up a dummy app and running `rake routes` shows `admin_search_users` and `admin_search_products` are still out there, but not in use anywhere. I suppose we'd need to deprecate those end points? If there is a good example of how to do that, I'd be happy to open a PR. Or perhaps we just remove them?

[2017-05-30 18:31] Draiken opened #1982 "Clone action should be a POST"
When cloning big products, specially ones with multiple variants and images, the clone action might take a lot of time to finish.

This is not a problem on itself, but it can generate 502 responses depending on the environment.

Once again, this is not a problem by itself, but in conjunction with the fact that this is done through a GET request, browsers may (and will) retry the request automatica

[2017-05-31 16:19] #1859 closed

[2017-05-31 21:14] kennyadsl commented on #1982
Nice find. I agree this is a problem and would be fixed with your proposed solution, thanks!

[2017-05-31 21:34] kennyadsl commented on #1971
@brchristian Hi there, which solidus version are you using? I think this is fixed with [this commit](https://github.com/solidusio/solidus/commit/a682147000c7797a5ca35178e5816026aaca80cf).

When `@request.headers['HTTP_SPREE_STORE']` or `@request.env['SERVER_NAME']` are not set only the default store query (last one) should be done.

[2017-06-01 10:39] laurawadden commented on #1861
@mamhoff mentioned that you actually *should* be able to delete the master price.

However, it is a bug that when you go back to "product details", the master price is still shown (even though it's already deleted). Expected behaviour should be that the field should be blank.

[2017-06-01 12:55] jasonfb commented on #1861
my colleague @reidcooper and I literarily just noticed this yesterday — spree_prices seems to have acts_as_paranoid on it (using a soft delete with a ```deleted_at``` field), although for some reason Spree's code somehow works around the gem's mechanism. If you make a change to a price after deleting it, it still updates the "deleted" (soft) record in the database.

[2017-06-01 13:15] AlessioRocco commented on #568
@bbuchalter for now I'm working on a good way to break the specs or notify the developer if we have some "bad" or not tested factories, for now I've just added the linter https://github.com/solidusio/solidus/pull/1976/commits/670c105807bcfc5388679fbe7c6860c6e537adf5 at the beginning of our test suite but more I understand about Factory in Solidus and more I think it's not a good solution, this is

[2017-06-01 21:16] brchristian commented on #1971
@kennyadsl I’m using the latest gem release, which is `2.2.1`.

I note that out of the box, the default 2.2.1 store makes _six_ `Spree::Store` find calls per pageview! (Three for the main layout, and three for the cart partial.)

My hunch is that only a small fraction of the Solidus user base have more than one Store. My personal opinion is that six SQL calls per pageview is a lot of DB chatter to

[2017-06-01 21:24] brchristian commented on #1971
@kennyadsl Also, the commit you referenced was reverted by https://github.com/solidusio/solidus/commit/0abb4d043408e31aa0da8dc4e514016ae7c190c6!

[2017-06-01 22:45] kennyadsl commented on #1971
@brchristian I think the last commit you posted is not reverting the one I linked but it is just removing the deprecation previously set.

As far as I can see [this is the code you are using](https://github.com/solidusio/solidus/blob/v2.2/core/lib/spree/core/current_store.rb#L15-L27):

[code]

So if `store_key` is nil (no `@request.headers['HTTP_SPREE_STORE']` or `@request.env['SERVER_NAME']` set)

[2017-06-02 06:57] laurawadden opened #1987 "Admin Product page for a deleted item shows errors when clicking around"
### Steps to reproduce
1. delete an item from the products list
2. check 'Show Deleted' and hit 'Search'
3. click on deleted item
4. click 'Images', 'Variants', 'Prices' and 'Product Property' tabs --> throw errors

### Expected behavior
Those tabs should be hidden if they give errors

### Actual behavior
Tabs are all shown and clickable

### System configuration
**Solidus Version**:
solidusio/sol

[2017-06-02 07:04] laurawadden commented on #1987
'Product Stock' doesn't make sense either because the page just says 'Stock Item Not Found'. hiding that tab, too.

[2017-06-02 09:06] laurawadden opened #1989 "DisplayMoney displays '0.00' in default currency when amount is nil"
### Steps to reproduce
1. in admin view, delete master price for a product
2. go to 'products' list view
3. master price is listed as '0.00' in default currency (e.g., "$0.00 USD")

### Expected behavior
If master price is empty, should show a "-" instead

### Actual behavior
If master price is empty, shows 0.00

### System configuration
**Solidus Version**:
solidusio/solidus master 4354667e6

Gem

[2017-06-02 09:08] laurawadden commented on #1989
Found this bug while working on #1861

[2017-06-02 14:01] bbuchalter commented on #568
@AlessioRocco thanks for the thoughtful reply. I'm glad to hear that you feel the idea of using Solidus's API for setting up state for factories is a good one. However, on the other hand, I don't want to be optimizing factories in isolation. I'd rather see them improved in the context of making other specs more correct, or more maintainable. Does that make sense? Do you have any specs in mind that

[2017-06-02 15:19] brchristian commented on #1971
@kennyadsl Oh, I think you are right about the deprecation. Sorry and thanks for the correction!

When I create a brand new blank Solidus app, `@request.env['SERVER_NAME']` is `"localhost"` by default, and so the conditional for `store_key` is always true.

What’s more, I think that there is some redundancy because `store_key` can be either the `HTTP_SPREE_STORE` field _or_ the `SERVER_NAME`. This

[2017-06-02 16:18] mamhoff commented on #568
@bbuchalter I'm not sure we should be using the Solidus API for setting up test data, mostly because those factories are used in client stores where they might very well use external services to set up shipments or taxes, which would slow down many client test suites. This would mean sample data would actually test production code, leading to hard-to-debug spec setups I think.

[2017-06-03 15:12] kennyadsl commented on #1971
@brchristian I think that moving that code out of core (in solidus_multi_domain as you suggested) is the best way to go. I've just opened a PR (#1993) with initial steps for having it done. Let's see what others think about it and I'll proceed with the rest of the needed PRs.

[2017-06-06 05:32] useiichi opened #1995 "Often can't LOGOUT"
### Steps to reproduce
browser is iphone safari.
login by my account.
and, click LOGOUT.

### Expected behavior
we should logout.

### Actual behavior
but can't logout.
LOGOUT link does not become LOGIN.
This occur often.

### System configuration
**Solidus Version**:v2.2.1
This does not occur on chrome in windows.

[2017-06-06 14:55] oeN opened #1996 "Backend, problem with multiple "select2""
### Steps to reproduce
- Add a filter with a select box (with the select2 class) in the products index
- Click on the "New Product" button

### Expected behavior
- filters panel is hidden
- Shipping Category and Tax Category are styled correctly with **select2**

### Actual behavior
- filters panel is still visible
- Shipping Category and Tax Category are not styled

### System configuration
[code

[2017-06-06 15:07] oeN commented on #1996
The problem is related to https://github.com/select2/select2/issues/2750

We need to change the way solidus init the `select2()`.
To solve this specific problem is enough to override the `backend/app/views/spree/admin/products/new.js.erb` and change `$('.select2').select2();` to `$('select.select2').select2();`

I am changing all the points where solidus uses `$('.select2').select2();` to `$('sele

[2017-06-06 19:29] nhippenmeyer opened #1999 "Free shipping promotion applied when rules are not satisfied"
### Steps to reproduce
1. Create a free shipping promotion and add a rule for item total to be greater than or equal to a certain amount.
2. Check out with an order that doesn't satisfy the minimum item total.

### Expected behavior
The free shipping promotion should not be applied to the order.

### Actual behavior
The free shipping promotion is applied to the order even when the rule isn't satis

[2017-06-07 10:21] #1737 closed

[2017-06-07 16:09] #1803 closed

[2017-06-07 22:09] mamhoff commented on #1899
Closed via #1938

[2017-06-07 22:09] #1899 closed

[2017-06-07 22:11] mamhoff commented on #1881
Closed via #1886

[2017-06-07 22:11] #1881 closed

[2017-06-08 20:21] brchristian opened #2008 "Missing user email not evaluated until confirm"
When I create a brand new Solidus 2.2 application and try to place an order from the backend, I notice that if I fill out the customer details with no email address, there is no validation error. Then later, when I go to Confirm >> Refresh Totals, I get an error message saying `Customer email can’t be blank`.

<img width="864" alt="screen shot 2017-06-08 at 4 20 07 pm" src="https://user-images.git

[2017-06-09 13:28] RostislavKorin commented on #1910
same issue

[2017-06-09 14:14] BravoSimone opened #2011 "Variant validation allows no product associated"
### Steps to reproduce
Just follow [this](https://asciinema.org/a/ck2bktzpcdpapoij6h0ztasr1) asciinema

### Expected behavior
Variants must **always** have an associated product to be valid

### Actual behavior
If I set `variant.product` as `nil` doing `variant.save` the validation doesn't fail.
So variants can be product orphan.

### System configuration
Solidus master branch

[2017-06-09 17:28] blairanderson commented on #1910
looks like i'm having this as well.

[code]

[2017-06-12 16:34] #1502 closed

[2017-06-12 16:34] #1857 closed

[2017-06-12 16:35] #1958 closed

[2017-06-12 16:35] #1987 closed

[2017-06-13 19:04] jhawthorn commented on #1910
This needed some small updates due to a change in heroku, as well as needed to be updated to support Rails 5.1. Should be working again, I was able to deploy https://solidus-rails-51-test.herokuapp.com/

[2017-06-13 19:05] #1910 closed

[2017-06-13 20:09] jhawthorn commented on #1995
I tried on iOS safari and was able to log out.

[2017-06-13 20:32] Draiken opened #2016 "Order clause expression not in select list on MySQL 5.7+"
### Steps to reproduce
Using MySQL 5.7+ with default configuration
Try to order the products by price on the admin

### Expected behavior
It should order the products by price

### Actual behavior
500 error.
Example of the error:
[code]

### System configuration
**Solidus Version**:
2.2.0
**Extensions in use**:
solidus_auth_devise
solidus_prototypes

Related functionality on MySQL 5.7+: https://de

[2017-06-14 20:38] jhawthorn commented on #1973
This looks some type of bundler issue. I am able to bundle 1.3 locally.

Can you try disabling your rubygems mirror?

[2017-06-14 20:39] bbuchalter commented on #1973
Let's not worry about this any more. Bundler is crazy for now.

[2017-06-14 20:39] #1973 closed

[2017-06-14 20:44] #1811 closed

[2017-06-15 14:55] kennyadsl commented on #1971
Steps to fix this issue:

- [x] make it more standard/easier to use another class to determine which store to use #1993
- [ ] move out of core the logic that checks requests info to determine if another store has to be used. This will be moved to solidus_multi_domain. (solidusio/solidus_multi_domain#67)
- [ ] just use the Spree::Store.default on a solidus store without solidus_multi_domain avoidin

[2017-06-15 18:17] jhawthorn commented on #2016
Thanks for the detailed report. It really helps :heart:.

I made some progress reproducing this. I run MariaDB locally, which hasn't changed this default, but it can be turned on `SET sql_mode="ONLY_FULL_GROUP_BY";`.

I think this might be an issue in a few places. I was unable to load the sample data under this `sql_mode`

[2017-06-15 21:39] jhawthorn commented on #2016
I believe #2025 should fix the original reported issue. I also needed the fix in #2024 in order to load sample data or checkout successfully.

[2017-06-15 23:07] jhawthorn commented on #1996
Fixed by #1997

[2017-06-15 23:07] #1996 closed

[2017-06-16 05:41] udonka opened #2027 "Question: How to add option to LineItem not to Variant."
### Expected behavior
We are building a EC site which sells items with a lot of customization.
For example, we want to add the name of a person to an item when the person put the item in cart.
Thus this is not possible with options with variant.

### Actual behavior
There is LineItem#options= method , so we expected LineItem to have arbitrary option as the comment on line_item.rb:116 says.
116:  #

[2017-06-16 16:02] ericsaupe commented on #1237
Is this resolved with #1984?

[2017-06-16 17:56] Mandily opened #2028 "Table rows should be consistent height"
On the store stock page, there's a table with multiple height table cells.
All table cells should be the same height across a row.
<img width="1014" alt="screen shot 2017-06-16 at 10 54 30 am" src="https://user-images.githubusercontent.com/15271353/27238592-63f44112-5282-11e7-97ce-d5d256d2d592.png">

[2017-06-16 18:19] Mandily opened #2029 "Parent page should be highlighted in navigation to tell user where they are"
Different visual states are used in the menu to indicate to a user where they are in the menu. Currently we do a good job of telling them when they're on the first tab of a page, but once the user shifts to another tab, the highlighting cue disappears.
This should consistently be highlighted for all tabs.

This affects the following pages:
Settings > Locations
Settings > Taxes
Settings > Refunds a

[2017-06-16 19:38] tvdeyen commented on #2028
Yes. There is some very weird table markup going on. Have a branch laying around that fixes some of these issues. We publish it soon.

[2017-06-16 19:57] tvdeyen commented on #2029
Should be addressed by #1867

[2017-06-20 07:07] tvdeyen opened #2032 "Implement a payment capture events GUI"
Following these discussions

- [Spree PR](https://github.com/spree/spree/issues/2962#issuecomment-43803337)
- [Spree commit introducing capture events](https://github.com/spree/spree/commit/486f0dc078bb917c4e17d2a028749af92b2d9832#commitcomment-5325335)
- [Slack discussion](https://solidusio.slack.com/archives/C0HGMA1QF/p1497429695729061)

we are missing an interface for capturing partial payments

[2017-06-20 07:27] tvdeyen commented on #2032
One thing I discussed with @pascalj IRL was to add a from for capturing partial payments to the payments detail page. Introducing a modal (we did not finally decided to have in our UI now) for this rarely used feature seems overkill for us.

#### Payment Detail page with capture events

![payments - r987654321 - orders](https://user-images.githubusercontent.com/42868/27321309-0b2c953c-559a-11e7-8c

[2017-06-20 13:25] alepore opened #2033 "Initializer rename breaks extensions"
I just want to point out that the rename of the `spree.rb` initializer to `solidus.rb` in #1864 breaks some extension generators.
For example i have this problem with [solidus_affirm](https://github.com/StemboltHQ/solidus_affirm/blob/affirm-payment-method/lib/generators/solidus_affirm/install/install_generator.rb#L17) and [solidus_scaffold](https://github.com/freego/solidus_scaffold/blob/master/li

[2017-06-20 13:31] tvdeyen commented on #2033
Oh, this is actually an oversight on my side. The file should not be renamed. Fill provide a fix.

[2017-06-20 23:21] #1979 closed

[2017-06-21 07:44] pascalj commented on #2032
After going through some commits and reading the comment at [processing.rb](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/payment/processing.rb#L45) I thought everything was in place for partial captures. Unfortunately the feature [was removed](https://github.com/solidusio/solidus/commit/a8f72f53111f8446a2f674d32cbdec31888c4c82) shortly after it was introduced, rendering t

[2017-06-21 08:19] alepore commented on #2033
@tvdeyen or we can maybe provide both files on new installations, with some deprecations comments inside spree.rb?

[2017-06-21 08:32] tvdeyen commented on #2033
@alepore I'm fine with both approaches. What do others think?

[2017-06-21 15:52] tvdeyen commented on #2033
We agreed in the core meeting to revert the filename change

[2017-06-21 16:06] #2011 closed

[2017-06-22 21:08] #2016 closed

[2017-06-22 23:04] jhawthorn commented on #1254
Fixed by #2002 :tada:

[2017-06-22 23:04] #1254 closed

[2017-06-22 23:08] jhawthorn commented on #1475
I believe this is fixed by #2002

[2017-06-22 23:08] #1475 closed

[2017-06-23 09:54] pascalj commented on #2032
I'd like to get some feedback on the general behaviour of capturing. For some code that allows partial capturing see #2039.

- I tried to not introduce a new method in processing and use the already available `capture!` method. The problem is that it has different semantics than I expected: it will capture the amount specified as an argument and _reduce the overall amount_ of the payment and _tran

[2017-06-23 23:24] jhawthorn commented on #1971
I also would like to remove support for `HTTP_SPREE_STORE` gone. Since it requires extra configuration to use properly, it doesn't make sense to support it on all stores by default.

I've opened #2041 which is related to this. It supports selecting a store by domain name and falling back to default with a single query :zap:.

[2017-06-26 02:28] danielmyasnikov commented on #112
@cbrunsdon @jhawthorn , is that still the case?

I'd love to move to `solidus_multi_domain` gem into solidus.

And fix some tests 😏 , like: https://github.com/solidusio/solidus_multi_domain/blob/master/spec/controllers/spree/api/products_controller_spec.rb#L16

[2017-06-26 07:56] tvdeyen opened #2042 "Add more inline editable tables"
As a follow up to the `inline-editable-table` introduced in #1580 we should have a look into all tables in the admin and see where this new UI component could fit. Also we need to update the style guide

- [ ] Update style guide and show the new UI component
- [ ] Compile a list with tables in the admin that could make use of this component

[2017-06-26 08:10] tvdeyen commented on #2032
We will discuss this in the next core team meeting. Thanks for the write up

[2017-06-27 23:24] jhawthorn commented on #2032
Is there a popular gateway which supports multiple captures? Certainly they all support partial captures, but I don't know of any which support multiple captures (other than by making multiple charges against a stored credit card)

[2017-06-28 15:39] pmn4 opened #2050 "DB Seed Scripts Exceeding max_questions Limit (MySQL)"
This is absolutely a favor, as this is in response to something well outside the code base, but when seeding the database with countries and states, individual insert statements are used (I presume for re-runability), which results in > 3600 queries, and Heroku's `max_questions` limit is exceeded.

How do you feel about, in a first step, identifying all of the countries/states already in the datab

[2017-06-28 17:24] Mandily commented on #2042
@mtomov worked on a PR that added inline editing capabilities to the image variants screen to make it quicker and easier for admins to update fields. I think this could be extended to other tables in the admin so that users could both edit and create simple table rows inline instead of needing to go to other pages. I've broken up the opportunities into:
1. Simply making existing inline editing cap

[2017-07-01 09:13] mamhoff commented on #2050
That'd be a great PR!

[2017-07-03 23:18] catsky opened #2054 "latest master branch missing the general settings page on backend"
### Steps to reproduce
1. pull the latest master branch of solidus, and use that in a blank rails project and test with solidus
2. upon solidus is running, login with admin user
3. go to settings, can  not find 'general settings' link any more,  i dont know where to set currency :(

### Expected behavior
the 'general settings' link should be available in backend for admin user, to set the site lev

[2017-07-05 08:49] pascalj commented on #2032
Absolutely, it's not that common. Examples are [Paypal](https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/authcapture/#one-authorization-multiple-captures-and-a-refund) and [Amazon Pay](https://pay.amazon.com/us/developer/documentation/apireference/201752040) which both work with only one authorization.

[2017-07-05 21:07] jhawthorn commented on #2054
This was replaced with the "Stores" page as part of #1282

The solidus-guides (a straight port of the old spree guides) aren't terrifically up to date, and a replacement is in the works.

[2017-07-05 21:07] #2054 closed

[2017-07-05 21:36] #1995 closed

[2017-07-05 21:37] jhawthorn commented on #1995
If you have instructions on how to reproduce please file a new issue. Thanks.

[2017-07-06 16:40] skukx opened #2066 "Shipment transition callbacks being skipped"
Assume the below setup:

[code]

After an order is completed, `Spree::Order#finalize!` gets called.
See https://github.com/solidusio/solidus/blob/86501e40827ed9a5eb8eccb4f2dd9a2198c1e0a1/core/app/models/spree/order.rb#L409-L412

If the order is paid for then these shipments will be updated to `ready`. The problem is that this update skips callbacks so `Spree::Shipment#my_method` will not be called

[2017-07-06 18:52] benjaminwil opened #2067 "rails-ujs cannot be found and is not an explicit Solidus dependency"
### Steps to reproduce

Create a typical Solidus project using the [Getting Started section of the README](https://github.com/solidusio/solidus/blob/master/README.md).

One caveat: I had to manually roll back from Rails `5.1.2` to `5.0.4`. This probably affects my (attached) Gemfile.

### Expected behavior

The sample store and backend should load at http://localhost:3000 and http://localhost:3000

[2017-07-06 21:44] andrewkmin commented on #1911
Why was this closed? @quesurifn any insights?

[2017-07-06 21:51] quesurifn commented on #1911
@andrewkmin No. Spree got me further and we have launched the solution and are receiving orders. To be honest, I'd stay away from spree based solutions altogether and look at other ecommerce solutions. I'm a JS dev and there were some pretty nice Node solutions and Golang solutions.

[2017-07-06 22:20] andrewkmin commented on #1911
Hmm.. so in terms of the api key there's legitimately no way to get it?

[2017-07-06 23:00] quesurifn commented on #1911
I ditched it for other reasons before I found a solution. @andrewkmin

[2017-07-06 23:10] andrewkmin commented on #1911
Gotcha. Thanks man and best of luck. @quesurifn

[2017-07-07 14:20] kennyadsl commented on #1911
@andrewkmin I usually check the API key via rails console, something like:

[code]

We probably have to restore ability to view the API key in admin or remove the `generate key` button.

[2017-07-07 16:25] sechix commented on #1654
Hello, I have the same problem, how did you fix it?

[2017-07-07 16:29] seand7565 commented on #1654
@sechix Can you take us through the steps to replicate this problem on a clean server? I was unable to replicate this issue following the steps detailed in the initial post. Also: What version of Solidus are you on?

[2017-07-07 16:39] sechix opened #2071 "Error in taxes and suplicated variants"
I have 0.21 in my taxes with taxes included in price true:
![image](https://user-images.githubusercontent.com/24247266/27967160-413b140e-6342-11e7-847f-95e597427ed3.png)

But it not calculate 0.21 x 25 =  5,25 not €4,34
![image](https://user-images.githubusercontent.com/24247266/27967286-c5dd285a-6342-11e7-8661-c06f8aa8e934.png)

Also in shipping taxes, 5 x 0.21 =1,05 not €0,87.

My product varian

[2017-07-07 17:17] andrewkmin commented on #1911
@kennyadsl thanks! I'm a NodeJS developer but I'm trying to get my feet wet in a Solidus/Rails project. What is the API key good for? From the Spree docs, it seems like all that's really necessary is the order token, correct?

[2017-07-07 17:21] kennyadsl commented on #2071
@sechix hello! If tax amount is included in price you have to calculate taxes starting from the price without tax. In this case it is: 20.66 (+ 4.34 = 25.00), right?
I think the same applies to shipping.

For the duplicated variants maybe it's better to open another issue with some more information, like steps to reproduce it so we can try the same locally on a clean Solidus app.

[2017-07-07 17:32] kennyadsl commented on #1911
@andrewkmin it can be helpful to perform API calls that require authentication. Take a look at the base api controller [here](https://github.com/solidusio/solidus/blob/6d5d40d9827cc449dfc9a7682cfce827a1f33f5c/api/app/controllers/spree/api/base_controller.rb#L102-L109). Passing that headers along with each request you'll be able to create/update stuff or view admin restricted resources.

The order

[2017-07-07 17:53] sechix commented on #2071
Ah!!! Ok, you are right!!! Sorry for the misunderstanding.
I will reproduce and open another one for dullicate variants

[2017-07-07 17:53] #2071 closed

[2017-07-07 20:40] andrewkmin commented on #1911
@kennyadsl ah I see, thanks.
For me, I'm not looking to get into the cart interactions and the actual requests that are made when a user is interacting with the site. Instead, I'm looking to draw data from the store itself (products/inventory, order history, etc.) and with Solidus, I'm not sure that there's an easy way to do so out-of-the-box. Do we have to implement these endpoints ourselves?

[2017-07-07 20:49] quesurifn commented on #1911
@andrewkmin http://guides.spreecommerce.org/api/

Solidus is build on spree 2.3 hence the docs will work.

[2017-07-07 23:35] andrewkmin commented on #1911
@quesurifn
My routes.rb file looks like the following:
[code]

Do I need to add back the routes that were included in the original documentation, as per this link? Thanks in advance ```https://github.com/spree/spree/blob/master/api/config/routes.rb```

[2017-07-08 10:31] mamhoff commented on #2066
This is a can of worms. We explicitly don't run the Shipment state machine, and rather determine the shipment's state by its attributes for performance and complexity reasons (the order and shipment state machine interact in strange ways).

You're right in that we should do one of two things: Either remove the shipment state machine entirely, or actually use it.

[2017-07-08 13:37] quesurifn commented on #1911
They way spree / solidus works is all the core files are in the GEM kind of like NPM packages. The only difference is we spree is a complete solution unlike express so the routes are predefined. If you want to modify a core file you can override it by following the same folder structure as spree and creating a file with the same name (unlike NPM packages).

As far as your routes you can leave it h

[2017-07-08 13:39] quesurifn commented on #1911
@andrewkmin

I actually don't use auth for my api. I didn't see the need.

[2017-07-10 17:12] andrewkmin commented on #1911
@quesurifn Thanks so much for the help man. Situation resolved. Turns out that the issue I was having was sending requests incorrectly -- once I fixed that, everything started working. Silly mistake haha

[2017-07-10 17:21] quesurifn commented on #1911
@andrewkmin  NP. Good luck. Ruby / Rails is infinitely more temperamental than node.

[2017-07-10 17:21] #1911 closed

[2017-07-10 21:38] jhawthorn commented on #1237
I believe so

[2017-07-10 21:38] #1237 closed

[2017-07-10 22:27] #1788 closed

[2017-07-11 20:59] mamhoff commented on #1711
Reopening this as the fix in #1984 would allow frontend users to select a backend-only shipping method too easily. See #2077.

[2017-07-11 23:10] brchristian opened #2078 "Edit path for completed orders"
If I visit the path of a completed order, e.g., `http://localhost:3000/orders/R465318167`, I can see a receipt of the order. If I then append `edit` to that, and navigate to `http://localhost:3000/orders/R465318167/edit`, I am shown the Cart page.

This is unexpected behavior, IMO. I’d expect to either be able to edit the order (i.e., change address or cancel or something like that), _or_ to be to

[2017-07-11 23:16] jasonfb commented on #2078
Spam detection software, running on the system "mail2.hsphere.cc", has
identified this incoming email as possible spam.  The original message
has been attached to this so you can view it (if it isn't spam) or label
similar future email.  If you have any questions, see
the administrator of that system for details.

Content preview:  What order state (cart, address, payment, etc) of the order
   in

[2017-07-12 22:51] graygilmore commented on #2067
:wave: @benjaminwil! Thanks for the detailed write up. I just went through the `Getting Started` guide and was able to set up everything okay.

I imagine this bug was caused by the manual rollback of Rails versions. Does this happen when you start a project from scratch without the rollback?

[2017-07-13 10:35] pascalj commented on #2032
Copying @cbrunsdon's response from #2039 so it's all in one place:

Yes, I can see why touching that part of Solidus could cause problems, especially for third party code. I'll try to ship it as an extension - this would potentially allow to use it with older Solidus versions, too. Without overriding anything it'll:

- add a small controller to handle the `partial_capture` without changing the pay

[2017-07-14 18:36] mamhoff commented on #2027
You need to add the attribute to the LineItem somehow. In most cases this would be an additional column or an associated model.

[2017-07-14 18:40] mamhoff commented on #2078
@jasonfb There was a comment here that was almost impossible to read, and I'm not even sure it wasn't a spam filter overreacting. Would you mind posting your answer again?

[2017-07-19 10:36] #2033 closed

[2017-07-19 16:01] brchristian opened #2099 "Canceled orders in `complete` scope"
We have been experimenting with allowing users to cancel completed orders if they haven’t been fulfilled yet, and one of the things that has stood out to me as unintuitive is that the `Order.complete` scope includes cancelled orders.

This makes sense in the context of the admin `Orders#index` page, where it is useful for backend administrators to see canceled as well as completed orders, but it c

[2017-07-19 16:34] bbuchalter commented on #2099
Hey @brchristian - you raise an interesting point. Thanks for the issue submission. It's great to see you still hacking on this stuff; I remember when we did a bit of work together for `spree_tax_cloud` a long time ago.

Anyway, from my perspective, this issue is mostly one of semantics. From a certain perspective, for an order to be canceled, it must have be _complete_. If you only want to find o

[2017-07-19 16:40] brchristian commented on #2099
@bbuchalter Agreed that it’s a semantics issue!

As you say, yes, the alternative and more minimal fix is just a PR to restrict the default Sales Total scoping in the Reports controller.

I can see the argument in either direction and am happy to go wherever majority opinion lies. Curious to kind of take the temperature of the community here and see what people think makes most sense.

[2017-07-19 18:10] jhawthorn commented on #2050
Merged as #2097. Thanks!

[2017-07-19 18:10] #2050 closed

[2017-07-20 16:23] kennyadsl opened #2103 "Cannot access order created via sandbox"
### Steps to reproduce

From master:

[code]

### Expected behavior

[code]

### Actual behavior

[code]

(the last one has `stock_location_id: nil`)

[2017-07-20 20:24] tvdeyen opened #2104 "[RFC] Canceling payments. The more correct way."
## What happens?

When canceling orders Solidus [calls `cancel!` on each completed payment](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/order.rb#L851-L858).

[`Spree::Payment#cancel!` calls `payment_method.cancel`](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/payment/processing.rb#L81-L84) and handles the response as a void response.

## The pro

[2017-07-20 22:59] jhawthorn commented on #2103
I ran a git bisect and found this was introduced by #1770 (so not an issue in 2.3.0).

The issue seems to come from [db/samples/reimbursements.rb](https://github.com/solidusio/solidus/blob/master/sample/db/samples/reimbursements.rb#L9-L11)

[code]

`build_exchange_inventory_unit` builds a new inventory unit and a new shipment. When `accept!` is called that shipment is saved.

[2017-07-20 23:56] jhawthorn commented on #2103
Aha! I think this is because
[in ReturnItem#build_exchange_inventory_unit](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/return_item.rb#L184), we initialize an `InventoryUnit` with an order, which is now a `has_many through: :shipment`, so it will create an empty shipment (believing it to be a join model).

[2017-07-21 00:03] kennyadsl commented on #2103
Yes, I think you are right. I was looking at the [`touch: true` into the association between shipment and inventory unit](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/inventory_unit.rb#L10) but your intuition seems to be the right way. I think we also need to pass the shipment when building that `InventoryUnit`. I'm not sure if the shipment should be the same as the curre

[2017-07-21 10:11] DanielePalombo opened #2105 "Improve add line item to order"
The `add` method in Spree::OrderContents accepts three parameters but it's called without the third in https://github.com/solidusio/solidus/blob/master/frontend/app/controllers/spree/orders_controller.rb#L55 .

I think we can pass this as method.
In this way who wants to change the `add` feature doesn't need to override the `populate` action, but can change logic inside `Spree::OrderContents` afte

[2017-07-21 12:54] kennyadsl commented on #2104
This seems a good approach. A couple of thoughts:

1. how will we handle `Spree::Refund` reason, which has to be present when the refund is created?
2. maybe it's better to call the method `void_or_refund` or something like that? Since `try_void` will also create a refund in some case it could be better to be explicit.
3. we can maybe create a (configurable) class that handle this voiding logic so

[2017-07-23 14:48] Yekutiel opened #2108 "I unsuccessfully attempted to deploy Solidus on Heroku thrice"
I unsuccessfully attempted to deploy Solidus on Heroku thrice. Each time I used different login credentials on the odd chance that the login credentials I had used the first and second time might have caused the problem.

Each of the three times the following error messages appeared on my screen:

"**App creation failed. Please ensure you have valid values in the above form fields.**"

"**Run scri

[2017-07-24 07:13] tvdeyen commented on #2104
I went with the naive approach `first_or_create` and a hard coded string. This is not ideal, but used by us already on "Return processing".

Ideally these reasons would be handled by `I18n`, but this is a whole new story.

I don't think the payment method should handle the refund.

`try_void` should only handle the void and if that fails let the **payment** handle the refund. So, the name reflects

[2017-07-24 21:52] jhawthorn commented on #2108
Thanks for the report.

I believe this was failing because of missing solidusio/solidus_auth_devise#102, which wasn't in a release yet. I just released a new version of solidus_auth_devise and this should be fixed.

[2017-07-24 21:52] #2108 closed

[2017-07-24 22:31] Yekutiel commented on #2108
Thanks for the quick, informative, and helpful response.

Ah. Ok. I see.

I successfully deployed Solidus on Heroku therefore I assume your supposition was correct.

[2017-07-24 22:34] jhawthorn commented on #2108
:smile: Great!

[2017-07-24 23:42] Mandily opened #2110 "Create a store credit reasons page"
Currently, a developer needs to update the store credit reasons because admins don't have a UI to add new options. It would be better if admins could manage these reasons themselves similar to the other refund and return reasons.

To be fair - I'm not sure what reasons already exist in this table so the content in this table is made-up. If Solidus doesn't have any reasons out of the box, a message

[2017-07-25 17:58] graygilmore opened #2113 "Use better routes naming convention in the backend's JS"
The backend JS routes are currently arbitrarily named:

- `admin_product_search` for `admin/search/products`
- `option_type_search` for `api/option_types`
- `stock_locations_api` for `api/stock_locations`
- `stock_items_api` for `api/stock_locations/' + stock_location_id + '/stock_items` (uses a plural path despite targeting a singular resource)

If those routes were matched up to their Rails nami

[2017-07-25 18:07] graygilmore opened #2114 "Remove the ability to edit countries and states"
Editing these resources can negatively impact a store. Removing the editing functionality from the admin will reduce the risk of something being accidentally modified.

If a store absolutely requires a change to these they could still do so through a migration or the console but the majority of stores should not be managing these resources directly.

## The Future

Perhaps this could also be a ste

[2017-07-25 18:07] graygilmore commented on #2114
**Note:** currently working on this.

[2017-07-25 18:09] jhawthorn commented on #2113
I've actually just been ignoring the JS routes and instead [just using `Spree.pathFor`](https://github.com/solidusio/solidus/blob/5283b4c4c91af37c1cc1f83ed4517628d18c4f93/backend/app/assets/javascripts/spree/backend/models/taxonomy.js#L2).

It's a level of indirection that I'm not sure we get any benefit from. Unlike the rails routes, which are generated and we know will exist for all routes, I fe

[2017-07-25 18:18] graygilmore commented on #2113
That makes way more sense to me. Perhaps this issue should then be to remove the `Spree.routes` object and update the routes throughout the backend JS to use `pathFor` instead. Is this something that we'd first want to deprecate before removing completely?

(I know this is likely far down the priority list)

[2017-07-27 18:44] bradwbradw commented on #583
i'm not sure about removing `Stock::Prioritizer` entirely, since there's lots of documentation out there that says that we should override `sort_packages` with our own business logic based on geography, logistics, minimum thresholds and what-not.  At minimum I'd suggest to at least keep `sort_packages` should anyone want to override it

[2017-07-27 19:10] bradwbradw opened #2122 "Prioritizer pulls from third stock location when there is enough in first + second"
### Steps to reproduce
- set up 3 stock locations, override `sort_packages` so that you have control over which one comes last.  For brevity, they can be named "A", "B", and "C", and prioritized in that order.
- set up the stock counts of a variant as such: A: 2, B: 4, C: 5
- set up an order, and specify that a line item has 5 of the variant

### Expected behavior
Tell us what should happen
- ther

[2017-07-27 20:06] fastjames commented on #431
I had the same question, so I dug in a little bit and found that the approved feature was introduced here:
https://github.com/solidusio/solidus/commit/a0c69672a96f1a11d2dad265ac353d589eb099ae

it was intended to appear when an order is considered "risky." Beyond that I can't tell that clicking the button does much, so maybe the feature was never completed?

[2017-07-28 12:02] jasonfb commented on #431
I fully support it being extracted if it is an island of functionality. We are heavily dependent on a complex hybrid system that relies on both Kount scoring and our own internal fraud tools to have orders in this 'limbo' (completed but not sent to the 3PL) state until they are approved by our fraud department.

If Solidus is to have no fraud functionality, then I think extracting it into a gem ma

[2017-07-28 18:50] jhawthorn commented on #2122
Thanks for the issue. I'd guess that the root cause is the same as #583

[2017-08-01 11:09] mtomov commented on #600
Hello,

Want to highlight that those queries are indeed a problem during `Order#populate`, and one such takes `140ms` to run in our case.

On Solidus 1.2, during a populate - 6 of them run. I will check now how many they are on more recent versions.

[2017-08-04 10:22] DanielePalombo opened #2134 "Move inventory unit to new shipment refresh the price"
### Steps to reproduce
- Complete an order and adds a line item
- Change the master price of the variant
- Move the line item to another shipment

### Expected behavior
The price should not change on the new shipment.

<img width="1000" alt="screen shot 2017-08-04 at 11 52 49" src="https://user-images.githubusercontent.com/387690/28964861-e7069f0c-790e-11e7-8701-aa9f4225ab4c.png">

<img width="985

[2017-08-09 13:14] CallMeSH opened #2141 "Solidus 2.3 doesn't finalize shipments after an order is completed"
### Steps to reproduce
- Create a new order
- Complete it
- In the backend, add a product to the cart
- Go to the `Cancel Items` tab, you can't find your newly added product

### Expected behavior
When you add a product to the cart after the checkout, we already know that the product is available in stock. This is why its inventory units should have their `pending` value set to false.

### Actual

[2017-08-09 13:56] samdking commented on #2028
Hi, I have this same problem. Could you refer me to the branch you mentioned @tvdeyen? Is there any plan to merge this into a release?

[2017-08-09 22:15] adammathys opened #2142 "Updating promotion can clear out association between adjustment and action."
### Steps to reproduce
1. Create promotion with a CreateItemAdjustment action.
2. Complete an order using that promotion.
3. Update promotion to have a different action. (Could be the same type of action.)

### Expected behavior
I believe the adjustments should retain their association to the promotion action. (It's a paranoid record, so it hasn't fully been deleted by updating the promotion.)

##

[2017-08-09 22:19] jhawthorn commented on #2142
I think this is caused by [this line in AdjustmentSource#deals_with_adjustments_for_deleted_source](https://github.com/solidusio/solidus/blob/b2acb1e048bfdd64bf01d2ea3dd92b775b16ae8a/core/app/models/concerns/spree/adjustment_source.rb#L16)

[2017-08-10 09:51] tvdeyen commented on #2028
I did not have published a branch yet because @graygilmore volunteered to continue working on this particular area. This whole page needs a serious and well thought overhaul. My solution was more like a hotfix. Mainly I calculated the row height by the count of stock locations. This is a weak solution and we decided to not merge this.

[2017-08-10 19:28] graygilmore commented on #2028
Yes, the markup on this page is nothing short of a nightmare. I haven't dug into this area much further, to be honest. I think it needs a completely fresh solution.

[2017-08-12 17:25] ccarruitero opened #2149 "solidus is not sending credit card number and verification value to ActiveMerchant"
### Steps to reproduce
- Create a new app with `solidus` and `solidus_gateway`
- Create a new Payment Method provided by solidus gateway
- Do a checkout process
- After place order, gateway return an error about an invalid credit card

### Expected behavior
Credit Card information should be send to Active Merchant Gateway.

### Actual behavior
I was debugging the error and, like mention before, th

[2017-08-12 17:43] jasonfb commented on #2149
What payment method (provider) were you testing this with? Most payment processors have moved away from their clients' applications passing the "Full PAN" (the card number) within their own system for security and PCI compliance. Generally it is recommended that unless you have a compelling need to process the full PAN, you probably shouldn't be having it move through your application.

I think yo

[2017-08-13 14:50] kainio opened #2150 "Getting method "new_admin_stock_location_stock_movement_url" not found while trying to access stock movement for a newly created stock location"
### Steps to reproduce
In the admin, access shipping then stock location
create a new stock location
then trying to access stock movement for the newly created stock location

### Expected behavior
Access the stock movement configuration

### Actual behavior
System fails with a NoMethodError
`undefined method `new_admin_stock_location_stock_movement_url' for #<ActionDispatch::Routing::RoutesProxy:

[2017-08-13 23:30] radar opened #2151 "Remove Bundler notice from README?"
Saw your Bundler issue link in the README. They [claim to have fixed this issue](https://github.com/bundler/bundler/issues/5633#issuecomment-316416212).

I'd be interested to know if the problems you're seeing, @jhawthorn, have gone away or not. If they have, then you can probably do away with the scary README notice 😛

[2017-08-14 14:38] ccarruitero commented on #2149
I was testing with `PayPalGateway`, and with [`PayuLatamGateway`](https://github.com/solidusio/solidus_gateway/pull/61).

I think these gateways still use the provider's API.

[2017-08-15 12:47] seand7565 opened #2154 "Solidus allows you to add non-backorderable, 0 stock items to cart"
### Steps to reproduce
• Set product as non-backorderable
• Set inventory to 0
• Add product to cart on frontend

### Expected behavior
You should not be allowed to add a 0 stock non-backorderable product to your cart

### Actual behavior
You are allowed to add the non-backorderable part to your cart. Trying to check out generates an error message for the user and redirects them back to the cart -

[2017-08-15 13:03] shiroginne opened #2155 "Payment step, coupon code ambiguous behaviour"
Hello,

I've faced ambiguous behaviour of coupon codes on payment step:
when user has saved payment methods (credit card, for example) and he tries to enter wrong coupon code (page reloads), section with saved payment methods is gone.
If user clicks on "Save and Continue" with empty coupon code, he got credit card validation error but saved payment methods are on place.

### Steps to reproduce
1.

[2017-08-16 15:51] mamhoff commented on #2134
Have you checked whether this actually affects the current master branch? That object is precisely designed to avoid that flaw.

[2017-08-16 21:19] jhawthorn commented on #2151
Great to see you here @radar :heart: :bowing_man:

Unfortunately the [latest release of bundler](https://rubygems.org/gems/bundler), as of writing 1.15.3 is still very broken. I'm guessing the fixes won't make it in until a 1.16 release.

[code]

[2017-08-17 07:38] fylooi commented on #1999
Just upgraded to 2.2.1, seeing this as well.

[2017-08-17 14:36] loicginoux opened #2161 "Spree::PermissionSets::ProductManagement missing Price management"
### Steps to reproduce
- create a role with the permission `ProductManagement`,
- assign a user this role
- login to admin page with this user
- go to an admin product page

[code]
### Expected behavior
I would expect to see the prices tab with all the other product tabs

### Actual behavior
I don't see that the prices tab

### System configuration
**Solidus Version**: 2.2.1

I am happy to submit

[2017-08-17 18:53] brchristian commented on #2099
Closing here and linking to the recent discussion at https://github.com/solidusio/solidus/pull/2131

[2017-08-17 18:53] #2099 closed

[2017-08-17 19:41] #2114 closed

[2017-08-18 08:54] radar commented on #2151
I just tried this with the latest master from Bundler:

1. `alias dbundle='~/code/gems/bundler/bin/bundle'`
2. New directory with [this Gemfile](https://github.com/bundler/bundler/issues/5633#issuecomment-301890682)
3. `dbundle install`
4. Saw that it ran successfully.

So yes I think you're right that the next version of Bundler will fix this issue :tada:

[2017-08-18 17:12] benjaminwil commented on #2067
It looks like everything is working with Rails 5.1.x now, so no roll back would be necessary now.

If this actually was an issue, it is now even more trivial. Closing!

[2017-08-18 17:12] #2067 closed

[2017-08-21 10:24] fschwahn opened #2172 "Several payment methods are added to order in checkout process"
### Steps to reproduce
Is reproducible with the spree demo app. Run through the checkout process, choose eg. "Check". On the confirmation page, go back and edit the payment method, and choose something different, eg. "Credit card". The order has now 2 payment methods (in the example: Check & Visa):
![image](https://user-images.githubusercontent.com/57876/29514841-45d94b5c-866a-11e7-9f9a-9f3eec1db2

[2017-08-21 10:40] tvdeyen commented on #2172
This will be fixes by https://github.com/solidusio/solidus/pull/2075 in 2.4.0

If you want to use this today use the latest `master` in your `Gemfile`

[2017-08-21 10:41] #2172 closed

[2017-08-21 10:53] fschwahn commented on #2172
Cool! I searched the issue tracker for this, but apparently not well enough 😞

[2017-08-22 18:08] cbrunsdon commented on #2161
Hmm, definitely looks like a bug to me. Happy to take a PR or we can get @swcraig on it.

[2017-08-22 18:09] cbrunsdon commented on #2161
Certainly looks like `Spree::Price` belongs with the other product management permissions:
https://github.com/solidusio/solidus/blob/master/core/lib/spree/permission_sets/product_management.rb

[2017-08-23 11:34] jtme opened #2179 "Demo instance custom credentials fail"
### Steps to reproduce
deploy heroku demo app, fill in fields for admin account, try to login.

### Expected behavior
login should work with whatever email/passw set.

### Actual behavior
login fails

### System configuration
n/a

PS - default credentials work

[2017-08-23 17:10] swcraig commented on #2161
@loicginoux Nice catch. I am more than happy to write a PR myself, unless you specifically would like to! Let me know.

[2017-08-23 17:12] cbrunsdon commented on #2161
@swcraig you may as well just do it, it should be pretty quick

[2017-08-23 20:31] benjaminwil commented on #2179
Hey @jtme, I just deployed a demo app with custom credentials and was able to log in.

Could you double-check that you're still unable to do this?

[2017-08-23 20:33] #2179 closed

[2017-08-25 00:10] cbrunsdon commented on #2155
@benjaminwil can you give a shot at re-creating this please

[2017-08-25 09:39] kennyadsl commented on #2155
I think this happens because [apply_coupon_code happens before setup_for_current_state](https://github.com/solidusio/solidus/blob/4ade94e2c9f45bcccd93794336823f9f05bb8ab8/frontend/app/controllers/spree/checkout_controller.rb#L18-L20). If there are errors applying coupon code [the `edit` action is rendered with a return](https://github.com/solidusio/solidus/blob/548b54f4744696ef3c4dcc774639a7f89115

[2017-08-25 15:41] kennyadsl commented on #2154
Thanks for reporting.

I can confirm this issue, even if I'm still not sure this is not the expected behavior.

Your JS proposal would not work if another user complete a purchase of the same product just before a user add the product to the cart, right? I think that if we need to stop allowing users to add products with insufficient stocks to cart we need to implement some backend validation logi

[2017-08-25 16:53] #2161 closed

[2017-08-25 16:53] cbrunsdon commented on #2161
Thanks @loicginoux, hopefully you're cool we sniped your PR opportunity, thanks for offering though.

[2017-08-25 19:06] swcraig commented on #695
@mamhoff's justification makes sense. May we close this?

[2017-08-25 19:11] fastjames commented on #2154
Based on prior experience with other ecommerce platforms, I would expect the site to prevent me from adding an unbuyable product to my cart when I click the "add to cart" button. The proposed validation looks like the optimal solution to me, since it stays in the existing error flow and also works without JS (e.g. on API calls).

[2017-08-25 19:42] tvdeyen commented on #695
Yes.

[2017-08-25 19:42] #695 closed

[2017-08-25 21:33] swcraig commented on #1322
There doesn't appear to be any further action required. May we close this?

[2017-08-26 13:02] mamhoff commented on #1322
Yeah, closing.

[2017-08-26 13:02] #1322 closed

[2017-08-26 14:09] mamhoff commented on #2154
That validation has been removed from the line item and moved towards the `before_complete` callback in the order state machine for performance reason. If you want to re-add it, simply add the line

[code]

to your `Spree::LineItemDecorator`.

However: I don't think this is an ideal solution as the record is not actually properly invalid. The thing might come back in stock before the order is comp

[2017-08-28 07:26] DanielePalombo commented on #2134
It works with FulfilmnetChanger. My tests was with the latest stable version (v2.3).

Thank you.
We can close this issue.

[2017-08-28 07:26] #2134 closed

[2017-08-30 10:36] hta-wtag opened #2195 "Spree::Zone.for_address is not return actual tax rates"
Hi, I am facing some interesting error while I am removing all deprecation method of solidus.

According to your [documentation](https://github.com/solidusio/solidus/blob/master/core/app/models/spree/order.rb#L239), I have to use `Spree::Order#tax_address` instead of  `tax_zone` method.
I used it as like:
[code]
But it does not match result with `order.tax_zone`.
Then I was trying changing `tax_zo

[2017-09-01 17:28] alexweissman commented on #763
@jhawthorn I went through a similar experience, and was very frustrated to find that Select2, as well as all of the major alternatives, do not seem to be maintained or in active development.

Fortunately, Kevin has added me as a maintainer/developer on the Select2 repo which means that I now have the ability to merge PRs, push to the repo, and create releases.  Since it seems like you also depend

[2017-09-01 18:16] pusewicz commented on #763
An alternative is to go with https://github.com/harvesthq/chosen.

[2017-09-01 18:44] alexweissman commented on #763
Thanks, I am aware of Chosen and Selectize, but I was under the impression that they won't be doing any further development either.  For example, Chosen's [release notes for 1.7.0](https://github.com/harvesthq/chosen/releases/tag/v1.7.0):

[2017-09-03 10:18] nrser opened #2202 "Can no longer precompile assets without database connection after installing Solidus"
With `solidus (2.3.0)` and `solidus_auth_devise (1.6.4)` installed asset compilation crashes without a database connection.

Program flow (as well as I can tell):

    solidus_auth_devise

wants to to draw routes, which calls

    Spree::Auth::Config.draw_frontend_routes

which in turn calls

    Spree::Preferences::StoreInstance#should_persist?

which *crashes* the app if it can't connect to data

[2017-09-05 08:55] trevorh2007 opened #2203 "Existing payment partial error/Store credit error"
### Steps to reproduce
1. Create new user
2. Order a product
3. Try to order another product after completion of first order
4. On checkout when attempting to reach payment page returns error

### Expected behavior
Payment screen should behave like the first time buying a product, with existing payment being a viable option for another order

### Actual behavior
Raises the error

undefined method

[2017-09-05 17:41] jhawthorn commented on #2122
I believe this will be fixed by #2199. I've added the (greatly appreciated) spec here as ec7b241c1c0a7f38adf0aa5d993c0eb2137b204b.

[2017-09-05 20:34] jhawthorn opened #2204 "Perf: Taxation of shipping rates performs duplicate queries"
With a few valid ShippingMethods, run the estimator on a shipment

[code]

The SQL performed

[code]

Four queries to load tax rates, tax categories, zones, and calculators are run once per-shipping rate, but they should only need to be run once per order.

[2017-09-05 20:55] jhawthorn commented on #2195
I think the confusion here is because `Spree::Zone.for_address` returns a set of matching zones, unlike `match` which only ever returned a single zone (which is incorrect for a lot of cases). There's no exact direct replacement of `match` because it's behaviour is wrong.

These changes were made as part of the major tax refactor which went into Solidus 1.3 https://github.com/solidusio/solidus/issu

[2017-09-05 20:55] #2195 closed

[2017-09-05 22:31] jhawthorn commented on #2202
This is the result of some technical debt, specifically Spree traditionally stored configuration in the database, including configuration needed at load time. We've slowly been phasing this out and in the upcoming Solidus 2.4.0 the default will finally be changed to not use the database including for extensions (#2112).

In the mean time, you could try adding an initializer to use the (preferred)